{% extends 'unid/navigationbar.html' %}
{% load static %}
{% load highlight %}
{% block content %}
<div class="container" style="margin: 90px auto;">
    {% if query %}
    <div class="information-popular-row">
        <div class="popular-rows">
            <div class="popular-rows-title">
                검색정보
            </div>
            <hr>
            <div class = "search-category">
                정보공유
            </div>
            {% for result in page.object_list %}
            {% if result.object.user_id %}
            <div class="popular-row">
                <ul class="row-top">
                    <li>
                        <img src="{% static 'unid/icon/profle-icon.png' %}">
                    </li>
                    <li>
                        {{ result.object.user.email}}
                    </li>
                    <li>
                        ·         {{ result.object.created_at|timesince }}전
                    </li>
                    <img src="/{{ result.object.cagegory_path }}" width="75" height="25">
                </ul>
                <div class="row-picture">
                    <a href="{% url 'main_detail' result.object.posts_id %}">
                        <img src="/media/default.png" width="99px" height="75px" style="border-radius: 3px;">
                    </a>
                </div>
                <ul class="row-middle">
                    <li>
                        <a href="{% url 'main_detail' result.object.posts_id %}">{% highlight result.object.title with query css_class "bg-warning" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'main_detail' result.object.posts_id %}">{% highlight result.object.contents with query css_class "bg-warning" max_length 73 %}</a>
                    </li>
                </ul>
                <ul class="row-bottom">
                    <li>
                        <img src="{% static 'unid/icon/dollar-icon.png' %}"> {{ result.object.like_count }}
                    </li>
                </ul>
            </div>
            {% endif %}
            {% endfor %}
            <hr>
            <div class = "search-category">
                콘텐츠 거래
            </div>
            {% for result in page.object_list %}
            {% if result.object.writeremail_id %}
            <div class="popular-row">
                <ul class="row-top">
                    <li>
                        {% if result.object.writeremail.userimage %}
                        <img src="/{{ result.object.writeremail.userimage }}">
                        {% else %}
                        <img src="{% static 'unid/icon/profle-icon.png' %}">
                        {% endif %}
                    </li>
                    <li>
                        {{ result.object.writeremail.name }}
                    </li>
                    <li>
                        ·         {{ result.object.created|timesince }}전
                    </li>
                    <li>
                    </li>
                </ul>
                <div class="row-picture">
                    <a href="{% url 'contentsdetail' result.object.contents_id %}">
                        {% if result.object.imagepath %}
                        <img src="/{{ result.object.imagepath }}" width="99px" height="75px" style="border-radius: 3px;">
                        {% else %}
                        <img src="/media/default.png" width="99px" height="75px" style="border-radius: 3px;">
                        {% endif %}
                    </a>
                </div>
                <ul class="row-middle">
                    <li>
                        <a href="{% url 'contentsdetail' result.object.contents_id %}">{% highlight result.object.title with query css_class "bg-warning" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'contentsdetail' result.object.contents_id %}">{% highlight result.object.intro with query css_class "bg-warning" max_length 73 %}</a>
                    </li>
                </ul>
                <ul class="row-bottom">
                    <li>
                        <img src="{% static 'unid/icon/dollar-icon.png' %}"> {{ result.object.price }}
                    </li>
                    <li>
                        <img src="{% static 'unid/icon/wordballoon-icon.png' %}"> {{ result.object.downloadcount }}
                    </li>
                    <li>
                        <img src="{% static 'unid/icon/icons-조회수.png' %}" width="20" height="20"> {{ result.object.hits }}
                    </li>
                    <li>
                        <img src="{% static 'unid/icon/download_number.png' %}" border="0" width="15" height="15">  {{ result.object.downloadcount }}
                    </li>
                </ul>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
    <hr>
     {% else %}
     {# Show some example queries to run, maybe query syntax, something else? #}
     {% endif %}


</body>

</html>
<script>
    console.log("{{ query }}");
    console.log("{{ form }}");
    console.log("{{ page }}");
    console.log("{{ paginator }}");
    console.log("{{ suggestion }}");
    console.log("{{ page.object_list }}");




</script>
{% endblock %}
