<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv = "Cache-Control" content = "no-cache">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="{% static 'unid/vendor/jquery/jquery.js' %}"></script>
    <link href="{% static 'unid/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <script src="https://cdn.rawgit.com/ethereum/web3.js/develop/dist/web3.js"></script>

    <script src="{% static 'unid/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'unid/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <link href="{% static 'unid/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <title>uni:d</title>


    <!--favicon -->
    <link rel="shortcut icon" href="{% static 'unid/icon/unid_favicon.ico' %}">
    <!-- Bootstrap core CSS -->

    <!-- Custom styles for this template -->
    <link href="{% static 'unid/css/shop-homepage.css' %}" rel="stylesheet">
    <link href="{% static 'unid/css/mywallet.css' %}" rel="stylesheet">
    <!-- 검색아이콘 -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- 구글 notosan-font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&amp;subset=korean" rel="stylesheet">
    <!--wallet function-->
    <!--<link rel="stylesheet" href="{% static 'unid/node_modules/bootstrap/dist/css/bootstrap.css' %}">-->
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
    <script src="{% static 'unid/node_modules/jquery/dist/jquery.js' %}"></script>
    <!--<script src="{% static 'unid/node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>-->
    <!--transaction-toast-->
    <script src="{% static 'unid/node_modules/jquery-toast-plugin/dist/jquery.toast.min.js' %}"></script>
    <link href="{% static 'unid/node_modules/jquery-toast-plugin/dist/jquery.toast.min.css' %}" rel="stylesheet">
    <!--font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/unid">
            <img src="{% static 'unid/icon/unid_icon.png' %}" border="0" width="113" height="54">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="box">
             <div class="container-1">
                 <div class="icon-box">
                    <span class="icon"><i class="fa fa-search"></i></span>
                 </div>
                 <div class="text-box">
                     <form method="get" action="">
                         <input type="search" name="q" id="id_q" placeholder="Search..." />
                         <ul id="id_models" style="display: none;">
                             <li>
                                 <input type="checkbox" name="models" value="unid.note" id="id_models_0">" Notes"
                             </li>
                             <li>
                                 <input type="checkbox" name="models" value="unid.uploadcontents" id="id_models_1">" Upload contents"
                             </li>
                             <li>
                                 <input type="checkbox" name="models" value="unid.uploadcontents" id="id_models_2">" Informations"
                             </li>
                         </ul>
                     </form>

                 </div>
              </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" id="nav1" href="/unid/information/">정보공유</a>
                </li>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <li class="nav-item">
                    <a class="nav-link" id="nav2"href="/unid/searchcontents/레포트">컨텐츠거래</a>
                </li>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="nav3" data-toggle="dropdown" href="#">
                        <img src="{% static 'unid/icon/profle-icon.png' %}" border="0" width="32" height="32">
                    </a>
                    <div class="dropdown-menu">
                        {% if user.email %}
                        <a class="dropdown-item" href="/unid/mypage">마이페이지</a>
                        <a class="dropdown-item" href="/unid/mywallet">내지갑</a>
                        <a class="dropdown-item" href="/unid/main_upload">게시글작성</a>
                        <a class="dropdown-item" href="/unid/contentsupload">컨텐츠등록</a>
                        <a class="dropdown-item" href="/accounts/logout">로그아웃</a>
                        {% else %}
                        <a class="dropdown-item" href="/unid/login">로그인</a>
                        <a class="dropdown-item" href="/unid/signup">회원가입</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>



<head>
    <link href="{% static 'unid/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'unid/css/mywallet.css' %}" rel="stylesheet">
    <script src="{% static 'unid/js/main.js' %}"></script>
</head>
<div class="container">
    <div class="row">
        <div class="sidenav">

            <h4 class="my-4">태그 카테고리</h4>
            <div class="list-group">
                <a href="#" class="list-group-item">#학교정보</a>
                <a href="#" class="list-group-item">#학교주변리뷰</a>
                <a href="#" class="list-group-item">#취업정보</a>
                <a href="#" class="list-group-item">#질문</a>
            </div>

        </div>

        <div class="col-lg-9">
            {% if query %}
            <h5>검색정보</h5>
            <div class="container">

                {% for result in page.object_list %}
                {% if result.object.writeremail %}
                <hr>
                <div class="user">
                    <img src="/static/unid/icon/profle-icon.png" border="0" width="35" height="35">&nbsp
                    <span class="writer">{{ result.object.writeremail.email}} </span>
                    <span class="writing-time">{{ result.object.created|timesince }}</span>
                    <span class="contents-kind">{{ result.object.category }}</span>
                </div>
                <div class="row">
                    <div class="main-col-md-3">
                        <a href="{% url 'contentsdetail' result.object.contents_id %}">
                            {% if result.object.imagepath %}
                            <img class="img-fluid rounded mb-3 mb-md-0" src="/{{ result.object.imagepath }}" alt="">
                            {% else %}
                            <img class="img-fluid rounded mb-3 mb-md-0" src="/media/defaultthumbnail.png" alt="">
                            {% endif %}
                        </a>
                    </div>
                <div class="col-md-5">
                    <div class="detail-content">
                        <h3><a href="{% url 'contentsdetail' result.object.contents_id %}"/>{{ result.object.title }}</h3>
                        <p><a href="{% url 'contentsdetail' result.object.contents_id %}"/>{{ result.object.intro }}</p></div>
                            <!--<a class="btn btn-primary" href="#">View Project</a>-->
                    <div>
                        <span class="main-voting"><input onclick="heartChange1();" value="1" type="image" src="{% static 'unid/icon/heart-icon.png' %}" border="0" width="18" height="18"><span id="heart1">0</span></span>
                        <span class="main-voting">
                        <input type="image" value="1" src="{% static 'unid/icon/dollar.png' %}" border="0" width="20" height="20"><span id="dallor1">0</span></span>
                        <span class="main-voting">
                        <img src="{% static 'unid/icon/wordballoon-icon.png' %}" border="0" width="20" height="20"></span>4


                </div>
            </div>
                {% else %}
                <hr>
                <div class="posts_id">
                </div>
                <div class="user">
                    <img src="/static/unid/icon/profle-icon.png" border="0" width="35" height="35">&nbsp
                    <span class="writer">{{ result.object.user_id }}</span>
                    <span class="writing-time">{{result.object.created_at|timesince}}전</span>
                    <span class="contents-kind">{{ result.object.category }}</span>
                    </div>
                <div class="row">

                    <div class="main-col-md-3">
                       <a href="{% url 'main_detail' result.object.posts_id %}">
                            <img src="{% static 'unid/img/'%}{{result.object.file}}" width="200px" height="200px">
                        </a>
                    </div>
                <div class="col-md-5">

                    <div class="detail-content">
                        <h3><a href="{% url 'main_detail' result.object.posts_id %}">{{ result.object.title }}</a></h3>
                        <a href="{% url 'main_detail' result.object.posts_id %}"><p>{{result.object.contents}}</p></a></div>
                            <!--<a class="btn btn-primary" href="#">View Project</a>-->

                    <div>
                        <span class="main-voting"><button class="votings" name="{{ result.object.posts_id }}" ><i class="far fa-heart"></i></button><span class="voting-count" id="voting-{{result.object.posts_id}}">{{result.object.like_count}}</span></span>
                        <span class="main-voting">
                        <i class="fas fa-dollar-sign"></i><span class="rewards" id="reward-{{result.object.posts_id}}">{{result.object.rewards}}</span></span>
                        <span class="main-voting">
                        <img src="{% static 'unid/icon/wordballoon-icon.png' %}" border="0" width="20" height="20"></span>4

                    </div>

                </div>
                </div>
            {% endif %}
        </div>
        <hr>
             {% empty %}
             <p>검색 결과가 없습니다.</p>
             {% endfor %}
             {% else %}
             {# Show some example queries to run, maybe query syntax, something else? #}
             {% endif %}

</div>

</body>
</html>
