{% extends 'unid/navigationbar.html' %}
{% load static %}
{% block content %}
<!--<link href="{% static 'unid/css/index.css' %}" rel="stylesheet">-->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&amp;subset=korean" rel="stylesheet">

<!-- Page Content -->
<div class="contentsmain-container1">
    <!-- contents InFo -->
    <div class="unid-main-picture">
        <div class="main-row">
            <br>
            <div class="unid-logo">
                <img src="/static/unid/img/유니드 UI 리디자인_완성-04.png" width="75" height="75">
            </div>
            <div class="unid-title">
                대학정보 나눔의 가치, 유니드
            </div>
            <div class="unid-explain">
                대학에서   경험하고   얻은   것들을   유니드를   통해   나누며   보상을 받아보세요!
            </div>
            <div class="unid-moreinfo twinkle-transparent">
                MORE INFO
            </div>
        </div>
    </div>
    <div class="information-popular-row">
        <div class="popular-rows">
            <div class="popular-rows-title">
                인기게시글
            </div>
            {% for list in populated_informations %}
            <div class="popular-row">
                <ul class="row-top">
                    {% if list.email.name == mypage.name %}
                    <a href="/unid/mypage">
                    {% else %}
                    <a href="{% url 'user_detail' list.email.IDX %}">
                    {% endif %}
                        <li>
                            {% if list.email.userimage %}
                            <img src="/{{ list.email.userimage }}">
                            {% else %}
                            <img src="{% static 'unid/icon/profle-icon.png' %}">
                            {% endif %}
                        </li>
                        <li>
                            {{ list.email.name }}
                        </li>
                    </a>
                    <li>
                        ·         {{ list.created_at|timesince }}전
                    </li>
                        <img src="/{{ list.category_path }}" width="64.7px" height="21.7px" >
                </ul>
                <div class="row-picture">
                    <a href="{% url 'main_detail' list.posts_id %}">
                        <img src="/{{list.file_path}}" width="100px" height="75px">
                    </a>
                </div>
                <ul class="row-middle">
                    <li>
                        <a href="{% url 'main_detail' list.posts_id %}">{{ list.title }}</a>
                    </li>
                    <li>
                        <a href="{% url 'main_detail' list.posts_id %}">{{ list.aaa|truncatechars_html:80 }}</a>
                    </li>
                </ul>
                <ul class="row-bottom">
                    <li>
                        <img src="{% static 'unid/icon/heart-icon.png' %}"> {{ list.rewards }}
                    </li>
                    <li>
                        <img src="{% static 'unid/icon/dollar-icon.png' %}"> {{ list.like_count }}
                    </li>
                    <li>
                        <img src="{% static 'unid/icon/wordballoon-icon.png' %}" width="25px" height="16.7px"> {{ list.rewards }}
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>

    </div>
    <div class="contents-popular-row">
        <div class="contents-populars">
            <div id="carouselExampleIndicators1" class="carousel slide my-4" data-ride="carousel1">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators1" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators1" data-slide-to="4"></li>
                    <li data-target="#carouselExampleIndicators1" data-slide-to="5"></li>
                    <li data-target="#carouselExampleIndicators1" data-slide-to="6"></li>
                    <li data-target="#carouselExampleIndicators1" data-slide-to="7"></li>
                    <li data-target="#carouselExampleIndicators1" data-slide-to="8"></li>
                    <li data-target="#carouselExampleIndicators1" data-slide-to="9"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div>
                            <div class="contents-popular-title">
                                인기컨텐츠
                            </div>
                            <div class="contents-popular-kind">
                                <img src="/media/레포트.png" width="75" height="25">
                            </div>
                        </div>
                        <div class="contents-popular-contents">
                            {% for list in populated_reports_lists %}
                            <div class="contents-popular-posting">
                                <div class="desc-1">
                                    <a href="{% url 'contentsdetail' list.contents_id %}"/>{{ list.title|truncatechars_html:20 }}
                                </div>
                                {% if list.imagepath %}
                                <a href="{% url 'contentsdetail' list.contents_id %}">
                                    <img src="/{{ list.imagepath }}" border="0" width="110" height="157">
                                </a>
                                {% else %}
                                <a href="{% url 'contentsdetail' list.contents_id %}">
                                    <img src="/media/defaultthumbnail.png" border="0" width="110" height="157">
                                </a>
                                {% endif %}
                                <div class="contents-price">
                                    <img src="{% static 'unid/icon/dollar-icon.png' %}" border="0" width="15" height="15">  {{ list.price }}
                                </div>
                                <div class="contents-download">
                                    <img src="{% static 'unid/icon/download_number.png' %}" border="0" width="15" height="15">  {{ list.downloadcount }}
                                </div>
                                <div class="contents-popular-posting-date">{{ list.writeremail.name }}</div>
                                <div class="contents-popular-posting-date">{{ list.created|timesince }}전</div>

                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div>
                            <div class="contents-popular-title">
                                인기컨텐츠
                            </div>
                            <div class="contents-popular-kind">
                                <img src="/media/강의자료.png" width="75" height="25">
                            </div>
                        </div>
                        <div class="contents-popular-contents">
                            {% for list in populated_forlecture_lists %}
                            <div class="contents-popular-posting">
                                <div class="desc-1">
                                    <a href="{% url 'contentsdetail' list.contents_id %}"/>{{ list.title|truncatechars_html:20 }}
                                </div>
                                {% if list.imagepath %}
                                <a href="{% url 'contentsdetail' list.contents_id %}">
                                    <img src="/{{ list.imagepath }}" border="0" width="110" height="157">
                                </a>
                                {% else %}
                                <a href="{% url 'contentsdetail' list.contents_id %}">
                                    <img src="/media/defaultthumbnail.png" border="0" width="110" height="157">
                                </a>
                                {% endif %}
                                <div class="contents-price">
                                    <img src="{% static 'unid/icon/dollar-icon.png' %}" border="0" width="15" height="15">  {{ list.price }}
                                </div>
                                <div class="contents-download">
                                    <img src="{% static 'unid/icon/download_number.png' %}" border="0" width="15" height="15">  {{ list.downloadcount }}
                                </div>
                                <div class="contents-popular-posting-date">{{ list.writeremail.name }}</div>
                                <div class="contents-popular-posting-date">{{ list.created|timesince }}전</div>

                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div>
                            <div class="contents-popular-title">
                                인기컨텐츠
                            </div>
                            <div class="contents-popular-kind">
                                <img src="/media/강의노트.png" width="75" height="25">
                            </div>
                        </div>
                        <div class="contents-popular-contents">
                            {% for list in populated_note_lists %}
                            <div class="contents-popular-posting">
                                <div class="desc-1">
                                    <a href="{% url 'contentsdetail' list.contents_id %}"/>{{ list.title|truncatechars_html:20 }}
                                </div>
                                {% if list.imagepath %}
                                <a href="{% url 'contentsdetail' list.contents_id %}">
                                    <img src="/{{ list.imagepath }}" border="0" width="110" height="157">
                                </a>
                                {% else %}
                                <a href="{% url 'contentsdetail' list.contents_id %}">
                                    <img src="/media/defaultthumbnail.png" border="0" width="110" height="157">
                                </a>
                                {% endif %}
                                <div class="contents-price">
                                    <img src="{% static 'unid/icon/dollar-icon.png' %}" border="0" width="15" height="15">  {{ list.price }}
                                </div>
                                <div class="contents-download">
                                    <img src="{% static 'unid/icon/download_number.png' %}" border="0" width="15" height="15">  {{ list.downloadcount }}
                                </div>
                                <div class="contents-popular-posting-date">{{ list.writeremail.name }}</div>
                                <div class="contents-popular-posting-date">{{ list.created|timesince }}전</div>

                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div>
                            <div class="contents-popular-title">
                                인기컨텐츠
                            </div>
                            <div class="contents-popular-kind">
                                <img src="/media/시험자료.png" width="75" height="25">
                            </div>
                        </div>
                        <div class="contents-popular-contents">
                            {% for list in populated_fortest_lists %}
                            <div class="contents-popular-posting">
                                <div class="desc-1">
                                    <a href="{% url 'contentsdetail' list.contents_id %}"/>{{ list.title|truncatechars_html:20 }}
                                </div>
                                {% if list.imagepath %}
                                <a href="{% url 'contentsdetail' list.contents_id %}">
                                    <img src="/{{ list.imagepath }}" border="0" width="110" height="157">
                                </a>
                                {% else %}
                                <a href="{% url 'contentsdetail' list.contents_id %}">
                                    <img src="/media/defaultthumbnail.png" border="0" width="110" height="157">
                                </a>
                                {% endif %}
                                <div class="contents-price">
                                    <img src="{% static 'unid/icon/dollar-icon.png' %}" border="0" width="15" height="15">  {{ list.price }}
                                </div>
                                <div class="contents-download">
                                    <img src="{% static 'unid/icon/download_number.png' %}" border="0" width="15" height="15">  {{ list.downloadcount }}
                                </div>
                                <div class="contents-popular-posting-date">{{ list.writeremail.name }}</div>
                                <div class="contents-popular-posting-date">{{ list.created|timesince }}전</div>

                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div>
                            <div class="contents-popular-title">
                                인기컨텐츠
                            </div>
                            <div class="contents-popular-kind">
                                <img src="/media/동영상.png" width="75" height="25">
                            </div>
                        </div>
                        <div class="contents-popular-contents">
                            {% for list in populated_video_lists %}
                            <div class="contents-popular-posting">
                                <div class="desc-1">
                                    <a href="{% url 'contentsdetail' list.contents_id %}"/>{{ list.title|truncatechars_html:20 }}
                                </div>
                                {% if list.imagepath %}
                                <a href="{% url 'contentsdetail' list.contents_id %}">
                                    <img src="/{{ list.imagepath }}" border="0" width="110" height="157">
                                </a>
                                {% else %}
                                <a href="{% url 'contentsdetail' list.contents_id %}">
                                    <img src="/media/defaultthumbnail.png" border="0" width="110" height="157">
                                </a>
                                {% endif %}
                                <div class="contents-price">
                                    <img src="{% static 'unid/icon/dollar-icon.png' %}" border="0" width="15" height="15">  {{ list.price }}
                                </div>
                                <div class="contents-download">
                                    <img src="{% static 'unid/icon/download_number.png' %}" border="0" width="15" height="15">  {{ list.downloadcount }}
                                </div>
                                <div class="contents-popular-posting-date">{{ list.writeremail.name }}</div>
                                <div class="contents-popular-posting-date">{{ list.created|timesince }}전</div>

                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div>
                            <div class="contents-popular-title">
                                인기컨텐츠
                            </div>
                            <div class="contents-popular-kind">
                                <img src="/media/자소서.png" width="75" height="25">
                            </div>
                        </div>
                        <div class="contents-popular-contents">
                            {% for list in populated_fiction_lists %}
                            <div class="contents-popular-posting">
                                <div class="desc-1">
                                    <a href="{% url 'contentsdetail' list.contents_id %}"/>{{ list.title|truncatechars_html:20 }}
                                </div>
                                {% if list.imagepath %}
                                <a href="{% url 'contentsdetail' list.contents_id %}">
                                    <img src="/{{ list.imagepath }}" border="0" width="110" height="157">
                                </a>
                                {% else %}
                                <a href="{% url 'contentsdetail' list.contents_id %}">
                                    <img src="/media/defaultthumbnail.png" border="0" width="110" height="157">
                                </a>
                                {% endif %}
                                <div class="contents-price">
                                    <img src="{% static 'unid/icon/dollar-icon.png' %}" border="0" width="15" height="15">  {{ list.price }}
                                </div>
                                <div class="contents-download">
                                    <img src="{% static 'unid/icon/download_number.png' %}" border="0" width="15" height="15">  {{ list.downloadcount }}
                                </div>
                                <div class="contents-popular-posting-date">{{ list.writeremail.name }}</div>
                                <div class="contents-popular-posting-date">{{ list.created|timesince }}전</div>

                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div>
                            <div class="contents-popular-title">
                                인기컨텐츠
                            </div>
                            <div class="contents-popular-kind">
                                <img src="/media/이력서.png" width="75" height="25">
                            </div>
                        </div>
                        <div class="contents-popular-contents">
                            {% for list in populated_resume_lists %}
                            <div class="contents-popular-posting">
                                <div class="desc-1">
                                    <a href="{% url 'contentsdetail' list.contents_id %}"/>{{ list.title|truncatechars_html:20 }}
                                </div>
                                {% if list.imagepath %}
                                <a href="{% url 'contentsdetail' list.contents_id %}">
                                    <img src="/{{ list.imagepath }}" border="0" width="110" height="157">
                                </a>
                                {% else %}
                                <a href="{% url 'contentsdetail' list.contents_id %}">
                                    <img src="/media/defaultthumbnail.png" border="0" width="110" height="157">
                                </a>
                                {% endif %}
                                <div class="contents-price">
                                    <img src="{% static 'unid/icon/dollar-icon.png' %}" border="0" width="15" height="15">  {{ list.price }}
                                </div>
                                <div class="contents-download">
                                    <img src="{% static 'unid/icon/download_number.png' %}" border="0" width="15" height="15">  {{ list.downloadcount }}
                                </div>
                                <div class="contents-popular-posting-date">{{ list.writeremail.name }}</div>
                                <div class="contents-popular-posting-date">{{ list.created|timesince }}전</div>

                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div>
                            <div class="contents-popular-title">
                                인기컨텐츠
                            </div>
                            <div class="contents-popular-kind">
                                <img src="/media/PPT.png" width="75" height="25">
                            </div>
                        </div>
                        <div class="contents-popular-contents">
                            {% for list in populated_PPT_lists %}
                            <div class="contents-popular-posting">
                                <div class="desc-1">
                                    <a href="{% url 'contentsdetail' list.contents_id %}"/>{{ list.title|truncatechars_html:20 }}
                                </div>
                                {% if list.imagepath %}
                                <a href="{% url 'contentsdetail' list.contents_id %}">
                                    <img src="/{{ list.imagepath }}" border="0" width="110" height="157">
                                </a>
                                {% else %}
                                <a href="{% url 'contentsdetail' list.contents_id %}">
                                    <img src="/media/defaultthumbnail.png" border="0" width="110" height="157">
                                </a>
                                {% endif %}
                                <div class="contents-price">
                                    <img src="{% static 'unid/icon/dollar-icon.png' %}" border="0" width="15" height="15">  {{ list.price }}
                                </div>
                                <div class="contents-download">
                                    <img src="{% static 'unid/icon/download_number.png' %}" border="0" width="15" height="15">  {{ list.downloadcount }}
                                </div>
                                <div class="contents-popular-posting-date">{{ list.writeremail.name }}</div>
                                <div class="contents-popular-posting-date">{{ list.created|timesince }}전</div>

                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div>
                            <div class="contents-popular-title">
                                인기컨텐츠
                            </div>
                            <div class="contents-popular-kind">
                                <img src="/media/논문.png" width="75" height="25">
                            </div>
                        </div>
                        <div class="contents-popular-contents">
                            {% for list in populated_paper_lists %}
                            <div class="contents-popular-posting">
                                <div class="desc-1">
                                    <a href="{% url 'contentsdetail' list.contents_id %}"/>{{ list.title|truncatechars_html:20 }}
                                </div>
                                {% if list.imagepath %}
                                <a href="{% url 'contentsdetail' list.contents_id %}">
                                    <img src="/{{ list.imagepath }}" border="0" width="110" height="157">
                                </a>
                                {% else %}
                                <a href="{% url 'contentsdetail' list.contents_id %}">
                                    <img src="/media/defaultthumbnail.png" border="0" width="110" height="157">
                                </a>
                                {% endif %}
                                <div class="contents-price">
                                    <img src="{% static 'unid/icon/dollar-icon.png' %}" border="0" width="15" height="15">  {{ list.price }}
                                </div>
                                <div class="contents-download">
                                    <img src="{% static 'unid/icon/download_number.png' %}" border="0" width="15" height="15">  {{ list.downloadcount }}
                                </div>
                                <div class="contents-popular-posting-date">{{ list.writeremail.name }}</div>
                                <div class="contents-popular-posting-date">{{ list.created|timesince }}전</div>

                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
                    <span style="font-size: 3em; color: grey;">
                        <i class="fas fa-angle-left"></i>
                    </span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
                    <span style="font-size: 3em; color: grey;">
                        <i class="fas fa-angle-right"></i>
                    </span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    console.log("{{ mypage }}");
    console.log("zzz");
</script>
{% endblock %}
