{% extends 'unid/navigationbar.html' %}
{% load static %}
{% block content %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>(로고)Create Account</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'unid/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'unid/css/shop-homepage.css' %}" rel="stylesheet">
    <link href="{% static 'unid/css/createaccount.css' %}" rel="stylesheet">
    <!-- 검색아이콘 -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>
    <div id="container">
        <div id="contents">
            <div id="logo">
                <p style="text-align: center;"><img style="width:150px; margin-top:30px;" src="{% static 'unid/icon/unid_icon.png' %}"></p>
            </div>
        <div id="description">
            <p style="text-align: center; margin-bottom: 15px;"><strong>전자지갑 생성을 위해 비밀번호를 입력해주세요</strong></p>
        </div>
        <div id="text">
            <p style="width: 240px; margin-left: 22px; margin-bottom: 30px;">사용자 아이디와 니드코인 사용을 위한 전자지갑 비밀번호를 입력해주세요!</p>
            <form class="form-horizontal" id="form-control-container" name="writeform" method="post" enctype="multipart/form-data" xmlns="http://www.w3.org/1999/html">
                {% csrf_token %}
                {% if request.session %}
                <p>
                    <label for="email">이메일주소</label>
                </p>
                <p>
                    <input type="email" id="email" class="input_CC" name="email" value={{ user.email }} readonly/>
                </p>
                <p style="text-align:center; margin-bottom:0px;">
                    <label for="name">닉네임</label>
                </p>
                <p>
                    <input type="text" class="input_CC" id="form-control" name="name" autocomplete="off" value={{ request.session.user_name }}>
                </p>
                <p id="alert" style="margin-top:-27px; height: 30px; text-align: center;"></p>
                <p style="text-align:center;">
                    <label for="pwd">비밀번호</label>
                </p>
                <p>
                    <input type="password" class="input_CC" id="pwd" name="pwd" placeholder="Enter password">
                </p>
                <button type="button" class="btn btn-default" Onclick="writeCheck()" style="background-color: red; color: white;">Submit</button>
                {% endif %}
            </form>

        </div>




    </div>
</body>
<script>
    function writeCheck() {
        var form = document.writeform;
        if (!form.name.value)
        {
            alert("닉네임을 적어주세요");
            form.name.focus();
            return false;
        }
        var form = document.writeform;
        if (!form.pwd.value)
        {
            alert("비밀번호를 적어주세요");
            form.pwd.focus();
            return false;
        }
        var k = $('#alert').text();
        console.log(alert);
        if (k == "닉네임중복"){
            alert("중복된 아이디입니다.");
            form.name.focus();
            return false;
        }

        if(form.name){
        document.getElementById('form-control-container').submit();
        }
    }

    $(document).ready(function(){
        $("#form-control").on('keyup', function() {

            //userid 를 param.
            var user_name =  $("#form-control").val();
            var alert = "닉네임중복";
            var alert1 = "사용가능";

            $.ajax({
                type : 'POST',
                data : { name: user_name },
                cache : false,
                url: "../user_name_verification/",
                success : function(res) {
                    if (res.Ans == 1) {

                        $("#alert").html(alert);
                        $("#alert").css("color","#ed1b25");

                        //아이디가 존제할 경우 빨깡으로 , 아니면 파랑으로 처리하는 디자인
                        <!--$("#form-control").addClass("has-error")-->
                        <!--$("#form-control").removeClass("has-success")-->
                        $("#form-control").css("border", "2px solid #ed1b25")
                        $("#form-control").focus();
                        $("#edit_icon_div").css("opacity","0");


                    } else {
                        <!--alert("사용가능한 아이디입니다.");-->
                        $("#alert").html(alert1);
                        $("#alert").css("color", "green");
                        //아이디가 존제할 경우 빨깡으로 , 아니면 파랑으로 처리하는 디자인
                        $("#form-control").css("border", "2px solid green")
                        $("#form-control").keyup(function(e){if(e.keyCode == 13)  document.getElementById('user_profile_edit_form').submit(); });
                        <!--$("#pwd").focus();-->
                        //아이디가 중복하지 않으면  idck = 1
                    }
                },
            });
        });
        $('#form-control').on('keyup', function(){
            // 남은 글자 수를 구한다.
            var strValue = $(this).val();
            var strLen = strValue.length;
            console.log(strLen);
            var totalByte = 0;

            var len = 0;
            var oneChar = "";
            var str2 = "";

            for (var i = 0; i < strLen; i++) {
                oneChar = strValue.charAt(i);
                if (escape(oneChar).length > 4) {
                    totalByte += 2;
                } else {
                    totalByte++;
                }
            }
            console.log(totalByte);
            // 넘어가는 글자는 자른다.
            if (totalByte > 10) {
                alert(10 + "자를 초과 입력 할 수 없습니다.");
                str2 = strValue.substr(0, 10);
                $('#form-control').val(str2);
            }
        });
    });
</script>
{% endblock %}