{% load static %}
<head>
    <link href="{% static 'unid/css/main.css' %}" rel="stylesheet">
</head>
<style>
button.votings-{{page_num}} {
    background-color : white;
    border: none;
    cursor : pointer;
}
</style>
{% for info in posts %}
     <div class="popular-row">
          <ul class="row-top">
              {% if info.user.name == mypage.name %}
              <a href="/unid/mypage">
              {% else %}
              <a href="{% url 'user_detail' info.user.IDX %}">
              {% endif %}
                    <li>
                        {% if info.user.userimage %}
                        <img src="/{{ info.user.userimage }}">
                        {% else %}
                        <img src="{% static 'unid/icon/profle-icon.png' %}">
                        {% endif %}
                    </li>
                    <li>
                    {{ info.user.email }}
                    </li>
              </a>
                    <li>
                        ·         {{ info.created_at|timesince }}전
                    </li>
                    <li>
                        {% if info.category == "학교정보" %}
                            <span>{{ info.category }}</span>
                        {% elif info.category == "학교주변리뷰" %}
                            <span>{{ info.category }}</span>
                        {% elif info.category == "취업정보" %}
                            <span>{{ info.category }}</span>
                        {% else %}
                            <span>{{ info.category }}</span>
                        {% endif %}
                    </li>
                </ul>
                    <div class="row-picture">
                        <a href="{% url 'main_detail' info.posts_id %}">
                            {% if info.file_path %}
                            <img src="/{{ info.file_path }}" width="99px" height="75px" style="border-radius: 3px;">
                            {% else %}
                            <img src="/media/default.png" width="99px" height="75px" style="border-radius: 3px;">
                            {% endif %}
                        </a>
                    </div>
                    <ul class="row-middle">
                        <li>
                            <a href="{% url 'main_detail' info.posts_id %}">{{ info.title }}</a>
                        </li>
                        <li>
                            <a href="{% url 'main_detail' info.posts_id %}">{{ info.contents|truncatechars_html:65 }}</a>
                        </li>
                    </ul>
                    <ul class="row-bottom">
                        <li>
                        <span class="main-voting"><img src="{% static 'unid/icon/heart-icon.png' %}" border="0" width="20" height="20"><span class="voting-count" id="votings">{{info.like_count}}</span></span>
                    </li>
                    <li>
                        <span class="main-voting">
                        <img src="{% static 'unid/icon/dollar-icon.png' %}" border="0" width="20" height="20"> <span class="rewards" id="reward-{{info.posts_id}}">{{info.rewards}}</span></span>
                    </li>
                    <li>
                        <span class="main-voting">
                            <img src="{% static 'unid/icon/wordballoon-icon.png' %}" border="0" width="20" height="20"><span class="reply-count">{{info.replymentcount}}</span></span>
                    </li>
                    </ul>
                </div>
                {% endfor %}

<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>

jQuery(document).ready(function($){

    $('#nav1').addClass('visible-place');
    $(".votings-{{page_num}}").click(function() {
                var pk = $(this).attr('name');
                var like_count = parseInt($('#voting-' + pk).text());
                var rewards = parseFloat($('#reward-' + pk).text());
                var like_users = "{{request.session.user_email}}";
                var voting_count = parseInt($('#count').text());
                var votinged = "";


                if (!like_users) {
                    alert('로그인을 해주세요');
                }


                $.ajax ({
                    type: 'POST',
                    url: "../vote/",
                    data: {
                        posts_id: pk,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(res) {
                        alert(res.Ans);

                        if (res.Ans == "보팅을 취소했습니다.") {

                            if (voting_count >= 10) {
                                like_count = like_count - parseInt(1);
                                votinged = "좋아요취소";

                                $('#voting-' + pk).text(like_count);

                                if (like_count % 1 == 0) {
                                rewards = rewards - parseFloat(0.1);
                                }
                            rewards = rewards.toFixed(1);
                            $("#reward-" + pk).text(rewards);

                            } else {
                                like_count = like_count - parseInt(1);
                                voting_count = voting_count + parseInt(1);

                                votinged = "좋아요취소";


                                $('#voting-' + pk).text(like_count);

                                if (like_count % 1 == 0) {
                                    rewards = rewards - parseFloat(0.1);
                                    }
                                rewards = rewards.toFixed(1);
                                $("#reward-" + pk).text(rewards);
                                $("#count").text(voting_count);
                            }

                        } else if (res.Ans == "보팅을 완료했습니다.") {

                            like_count = like_count + parseInt(1);
                            voting_count = voting_count - parseInt(1);

                            votinged = "좋아요";

                            $('#voting-' + pk).text(like_count);

                            if (like_count % 1 == 0) {
                                rewards = rewards + parseFloat(0.1);
                            }
                            rewards = rewards.toFixed(1);
                            $("#reward-" + pk).text(rewards);
                            $("#count").text(voting_count);
                            }

                         else {
                            votinged = "카운팅소진";
                         }



                        $.ajax({
                            type: 'POST',
                            url: "../voting/",
                            data: {
                                posts_id: pk,
                                like_count: like_count,
                                rewards: rewards,
                                liked_users: like_users,
                                votinged: votinged,
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                            success: function(res) {

                            }
                        });

                    }
                });
            });
            });

</script>