<!DOCTYPE html>
<html lang="en">

{% extends 'unid/navigationbar.html' %}
{% load static %}
{% block content %}


<head>
    <link href="{% static 'unid/css/mypage.css' %}" rel="stylesheet">
    <link href="{% static 'unid/css/mywallet.css' %}" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&amp;subset=korean" rel="stylesheet">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <script src="{% static 'unid/vendor/jquery/jquery.js' %}"></script>
</head>


<body>
    <div id="myinfo" style="background: url('/{{ mypage.aaa }}'); background-size: cover;">
        <div style="text-align:right;">
            <a id="edit_icon" >
                <img style="color: ##525f82; width:50px; margin-top:40px; margin-bottom:0px; cursor: pointer; margin-right:40px;" src="{% static 'unid/icon/edit_icon.png' %}">
            </a>
        </div>
        <div id="profile-icon">
            {% if mypage.userimage %}
            <div id="user_image_icon" style="text-align:center;">
                <img style="width:90px; height:90px; border-radius:50%;" src="/{{ mypage.userimage }}">
            </div>
            {% else %}
            <div style="text-align:center;">
                <img style="width:60px; margin-top:40px; text-align: center; margin-bottom:0px; padding-top:30px;" src="{% static 'unid/icon/user.png' %}">
            </div>
            {% endif %}
        </div>
        <ul id="user_profile">
            <li style="text-align: center; font-size: xx-large; font-weight:600; margin-top:15px; ">{{ mypage.name }}</li>
            {% if mypage.profile %}
                <li style="text-align: center; margin-left: 350px; margin-right: 350px; margin-top: 4px; font-size:large;">{{ mypage.profile }}</li>
            {% else %}
                <li style="text-align: center;">프로필을 등록해 주세요!</li>
            {% endif %}
        </ul>
        <div id="user-info2">
            <div id="joining-date">
                <p style="text-align: center; display:inline;"><img style="width:20px;" src="{% static 'unid/icon/joining-date.png' %}"> {{ mypage.joiningdate }}</p>
            </div>
            <div id="number-of-contents">
                <p style="text-align: center; display:inline;"><img style="width:20px;" src="{% static 'unid/icon/number-of-contents.png' %}">{{ numbersOfArticles }}게시글</p>
            </div>
        </div>
    </div>


    <div id="myinfo_edit_mode" style="background: url('/{{ mypage.aaa }}'); background-size: cover;">
        <div id="edit_icon_div" style="text-align:right;">
            <a id="edit_icon" onclick="document.getElementById('user_profile_edit_form').submit()">
                <img style="color: ##525f82; width:50px; margin-top:40px; margin-bottom:0px; margin-right:40px; cursor: pointer;" src="{% static 'unid/icon/done_icon.jpg' %}">
            </a>
        </div>
        <form id="user_profile_edit_form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="profile-icon_edit" style="text-align:center; position: relative; bottom: -4px;">
                {% if mypage.userimage %}
                <img style="width:90px; height:90px; border-radius:50%;" src="/{{ mypage.userimage }}">
                {% else %}
                <img style="width:60px; margin-top:40px; text-align: center; margin-bottom:0px; padding-top:30px;" src="{% static 'unid/icon/user.png' %}">
                {% endif %}
            </div>
            <div id="user_image_edit" style="width: 80px; position: relative; bottom: 61px; left: 516px; opacity: 0;">
                <input id="user_image_upload" type="file" name="user_image_upload" style="width:79;" title="사진변경">
            </div>
            <!--<ul id="cd-buttons">-->
                <!--<li><a href="#0" class="cd-popup-yes" id="enrollyes" onclick="document.getElementById('user_profile_edit_form').submit()">수정완료</a></li>-->
            <!--</ul>-->
            <ul id="user_profile_edit">
                <div id="user_name_modifier" style="text-align: center; font-size: xx-large; font-weight:600;">
                    <input id="change_user_name" type="text" style="outline: none; position:relative; text-align: center; border: 1px solid black; font-weight:600; background-color: transparent; width: 200px; height: 40px; bottom:10px; left: 3px" name="name" value="{{ mypage.name }}">
                    <span id="alert" style="width:100px; font-size:15px; color: #ed1b25; position: relative; left: 40px;"></span>
                </div>
                <div id="user_profile_modifier" style="text-align: center; margin-left: 350px; margin-right: 350px; margin-top: 15px; margin-left:370px;">
                    <input id="change_user_profile" type="text" name="profile" value="{{ mypage.profile }}" style="text-align:center; border:1px solid black; background-color:transparent; width:300px; height:35px; position: relative; bottom:20px; left: 4px; font-size: large;">
                    <span class="col_red" id="body_byte3">0</span>자
                </div>
            </ul>
            <div id="user-info2" style="">
                <div id="joining-date">
                    <p style="text-align: center; display:inline;"><img style="width:20px;" src="{% static 'unid/icon/joining-date.png' %}"> {{ mypage.joiningdate }}</p>
                </div>
                <div id="number-of-contents">
                    <p style="text-align: center; display:inline;"><img style="width:20px; " src="{% static 'unid/icon/number-of-contents.png' %}">{{ numbersOfArticles }}게시글</p>
                </div>
            </div>
            <div id="edit_background" style="position: relative; text-align: right; margin-right:-30px; cursor: pointer;">
                <label id="label" style="text-align:right; position: relative; bottom: 40px;">배경사진변경</label>
                <input id="background" style="width: 74px; position: relative; bottom: 40px; right: 80px; opcatity: 0; opacity: 0;" type="file" name="background" title="배경사진등록">
            </div>
        </form>
    </div>

    <div id="container">
        <ul class="tabs" id="tabs" style="margin-left:50px; margin-right:50px; padding-top:40px; font-size: larger; font-weight: bold; border-bottom: 1px solid #c1c1c1; padding-bottom:5px;">
            <li class="tab-link current" data-tab="tab-1">나의 활동</li> &nbsp&nbsp
            <li class="tab-link" data-tab="tab-2">나의 자료</li> &nbsp&nbsp
            <li class="tab-link" data-tab="tab-3">나의 보상</li>
            <div id="wallet">
                <a href="../mywallet" style="color:black;"><img style="width:30px;" src="{% static 'unid/icon/wallet-for-mypage.png' %}">지갑</a>
            </div>
        </ul>
        <div id="tab-1" class="tab-content current">
            <div id="myarticles">
                <br>
                <p style="text-align: left; font-size:larger; color:#9aa1a7;"><strong>내가 작성한 글</strong></p>
                <br>
                {% if articles %}
                    {% for article in articles %}
                    <div>
                        <span class="user_image">
                        {% if mypage.userimage %}
                            <img class="user_image_small_icon" src="/{{ mypage.userimage }}" border="0" style="border-radius: 50%" width="35" height="35">&nbsp
                        {% else %}
                            <img src="/static/unid/icon/profle-icon.png" border="0" width="35" height="35">&nbsp
                        {% endif %}
                        </span>
                        <span class="writer" style="font-weight: 700; font-size: larger;">{{ mypage.name }} </span>
                        <span class="writing-time">{{ article.created_at }}</span>
                        <span class="content-kind">{{ article.category }}</span>
                    </div>
                    <div class="row">
                        <div class="main-col-md-3">
                            <a href="#">
                                <img class="img-fluid rounded mb-3 mb-md-0" src="" alt="">
                            </a>
                        </div>
                        <div class="col-md-5">
                            <div class="detail-content">
                                <h3>{{ article.title }}</h3>
                                <p>
                                    {{ article.contents|truncatechars_html:170 }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p><strong>등록된 글이 없습니다. 글을 등록해보세요!</strong></p>
                {% endif %}
            </div>
            <br>
            <div id="reply">
                <p style="text-align: left; font-size:larger; color:#9aa1a7;"><strong>최근 댓글 내역</strong></p>
                <br>
                {% if replies %}
                    {%  for reply in replies %}
                    <div class="user">
                        {% if mypage.userimage %}
                            <img class="user_image_small_icon" src="/{{ mypage.userimage }}" border="0" style="border-radius: 50%" width="35" height="35">&nbsp
                        {% else %}
                            <img src="/static/unid/icon/profle-icon.png" border="0" width="35" height="35">&nbsp
                        {% endif %}
                        <span class="writer" style="font-weight: 700; font-size: larger;">{{ mypage.name }}</span>
                        <span class="writing-time">{{ reply.created_at }}</span>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="detail-content" style="margin-top:-20px;">
                                <h5>RE:{{ reply.posts_id.title }}</h5>
                                <p>
                                    {{ reply.replytext }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p><strong>등록된 댓글이 없습니다. 글을 등록해보세요!</strong></p>
                {% endif %}
            </div>
        </div>
        <div id="tab-2" class="tab-content">
            <div id="uploads">
                <br>
                <p style="text-align: left; font-size:larger; color:#9aa1a7;"><strong>내가 올린 콘텐츠</strong></p>
                <br>
                {% if contentsboard %}
                    {% for content in contentsboard %}
                    <div class="popular-contents">
                        <span class="user">
                            {% if mypage.userimage %}
                                <img class="user_image_small_icon" src="/{{ mypage.userimage }}" border="0" style="border-radius: 50%" width="35" height="35">&nbsp
                            {% else %}
                                <img src="/static/unid/icon/profle-icon.png" border="0" width="35" height="35">&nbsp
                            {% endif %}
                        </span>
                        <span class="writer" style="font-weight: 700; font-size: larger;">{{ mypage.name }}</span>
                        <span class="writing-time">{{ content.created }}</span>
                        <span class="content-kind">{{ content.category }}</span>
                    </div>
                    <div class="row">
                        <div class="main-col-md-3">
                            <a href="{% url 'contentsdetail' content.contents_id %}">
                            {% if content.imagepath %}
                                <img class="img-fluid rounded mb-3 mb-md-0" src="/{{ content.imagepath }}" alt="">
                            {% else %}
                                <img class="img-fluid rounded mb-3 mb-md-0" src="/media/defaultthumbnail.png" alt="">
                            {% endif %}
                            </a>
                        </div>
                        <div class="col-md-5">
                            <div class="detail-content">
                                <h3><a href="{% url 'contentsdetail' content.contents_id %}">{{ content.title }}</a></h3>
                                <p><a href="{% url 'contentsdetail' content.contents_id %}">
                                    {{ content.contents|truncatechars_html:170 }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p><strong>등록된 콘텐츠가 없습니다. 콘텐츠을 등록해보세요!</strong></p>
                {% endif %}
            </div>
            <br>
            <div id="downloads">
                <br>
                <p style="text-align: left; font-size:larger; color:#9aa1a7;"><strong>내가 받은 콘텐츠</strong></p>
                <br>
                {% if downloads %}
                    {% for download in downloads %}
                    <div id="downloads_contents">
                        <span class="user_image">
                        {% if mypage.userimage %}
                            <img class="user_image_small_icon" src="/{{ mypage.userimage }}" border="0" style="border-radius: 50%" width="35" height="35">&nbsp
                        {% else %}
                            <img src="/static/unid/icon/profle-icon.png" border="0" width="35" height="35">&nbsp
                            <img src="/static/unid/icon/profle-icon.png" border="0" width="35" height="35">&nbsp
                        {% endif %}
                        </span>
                        <span class="writer" style="font-weight: 700; font-size: larger;">{{ mypage.name }} </span>
                        <span class="writing-time">{{ download.contents_id.created }}</span>
                        <span class="content-kind">{{ download.contents_id.category }}</span>
                    </div>
                    <div class="row">
                        <div class="main-col-md-3">
                            <a href="{% url 'contentsdetail' download.contents_id_id %}">
                            {% if download.contents_id.imagepath %}
                                <img class="img-fluid rounded mb-3 mb-md-0" src="/{{ download.contents_id.imagepath }}" alt="">
                            {% else %}
                                <img class="img-fluid rounded mb-3 mb-md-0" src="/media/defaultthumbnail.png" alt="">
                            {% endif %}
                            </a>
                        </div>
                        <div class="col-md-5">
                            <div class="detail-content1">
                                <h3><a href="{% url 'contentsdetail' download.contents_id_id %}" style="text-color: black; font-size:x-large">{{ download.contents_id.title }}</a></h3>
                                <p><a href="{% url 'contentsdetail' download.contents_id_id %}"></a>
                                    {{ download.contents_id.contents }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p><strong>다운로드한 콘텐츠가 없습니다. 콘텐츠을 구매해보세요!</strong></p>
                {% endif %}
            </div>
            <div id="contents_transfer" style="margin-left: 50px;">
                <br>
                <p style="text-align: left; font-size:larger; color:#9aa1a7;"><strong>컨텐츠 거래 내역</strong></p>
                <div class="row_for_table" style="width:970px">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">승인날짜</th>
                                <th scope="col">올린사람</th>
                                <th scope="col">받은사람</th>
                                <th scope="col">금액</th>
                                <th scope="col">콘텐츠</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if contents_transfer %}
                            {% for content_transfer in contents_transfer %}
                                <tr>
                                    <th scope="row"> {{ content_transfer.transactiondate }}</th>
                                    <td><img src="{% static 'unid/icon/arrow-up.png' %}" border="0" width="18" height="18"> {{ content_transfer.toAccount }}</td>
                                    <td><img src="{% static 'unid/icon/arrow-down.png' %}" border="0" width="18" height="18"> {{ content_tranfer.fromAccount }}</td>
                                    <td><img src="{% static 'unid/icon/dollar-icon.png' %}" border="0" width="18" height="18"> {{ content_transfer.balance }}</td>
                                    <td>{{ content_transfer.aaa }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="tab-3" class="tab-content">
            <div id="myrewards">
                <br>
                <p style="text-align: left; font-size:larger; color:#9aa1a7;"><strong>내 보상 내역</strong></p>
                <br>
                {% if myreward %}
                <div class="history-total">
                    <div>
                        <span>total</span> <span>10.4nid</span>
                    </div>
                    <div>
                        <span>(+5.3)</span>
                    </div>
                </div>
                <div class="row">
                    <div class="history-detail">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">게시날짜</th>
                              <th scope="col">보상여부</th>
                              <th scope="col">금액</th>
                              <th scope="col">게시글</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr>
                              <th scope="row">2019년 1월 18일 2:29 오후</th>
                              <td><img src="{% static 'unid/icon/warning.png' %}" border="0" width="20" height="20"> 진행중 </td>
                              <td><img src="{% static 'unid/icon/dollar-icon.png' %}" border="0" width="18" height="18"> 5.3 </td>
                              <td>한양대 교양중 제일 재미있는 교양 추천의 보상</td>
                            </tr>
                            <tr>
                              <th scope="row">2019년 1월 18일 2:29 오후</th>
                              <td><img src="{% static 'unid/icon/success.png' %}" border="0" width="20" height="20"> 완료 </td>
                              <td><img src="{% static 'unid/icon/dollar-icon.png' %}" border="0" width="18" height="18"> 10.4 </td>
                              <td>한양대 교양중 제일 재미있는 교양 추천의 보상</td>
                            </tr>

                          </tbody>
                        </table>
                    </div>
                </div>
                {% else %}
                    <p><strong>보상내역이 없습니다. 글을 등록하고 보상을 받으세요!</strong></p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
<!--<script>-->
    <!--var kk = {{ articles }};-->
    <!--console.log(kk);-->
<!--</script>-->

<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
$(document).ready(function(){
    console.log("{{request.session.user_name}}");
    console.log("{{request.session.user_email}}");
    $('ul.tabs li').click(function(){
    var tab_id = $(this).attr('data-tab');

    $('ul.tabs li').removeClass('current');
    $('.tab-content').removeClass('current');


    $(this).addClass('current');
    $("#"+tab_id).addClass('current');
    });


    $('#edit_icon').on('click', function(){
        $('#myinfo').hide();
        $('#myinfo_edit_mode').show();
    });

    $('#myinfo_edit_mode').keyup(function(e) {
	    if ( e.keyCode == 27) {
            $('#myinfo_edit_mode').hide();
            $('#myinfo').show();
	    }
	});









    $("#change_user_name").on('keyup', function() {

        //userid 를 param.
        var user_name =  $("#change_user_name").val();
        var alert = "아이디중복";
        var alert1 = "사용가능";
        $.ajax({
            type : 'POST',
            data : { name: user_name },
            cache : false,
            url: "../user_name_verification/",
            success : function(res) {
                if (res.Ans == 1) {

                    $("#alert").html(alert);
                    $("#alert").css("color","#ed1b25");

                    //아이디가 존제할 경우 빨깡으로 , 아니면 파랑으로 처리하는 디자인
                    $("#change_user_name").addClass("has-error")
                    $("#change_user_name").removeClass("has-success")
                    $("#change_user_name").focus();
                    $("#edit_icon_div").css("opacity","0");


                } else {
                    <!--alert("사용가능한 아이디입니다.");-->
                    $("#alert").html(alert1);
                    $("#alert").css("color", "green");
                    //아이디가 존제할 경우 빨깡으로 , 아니면 파랑으로 처리하는 디자인
                    $("#change_user_name").addClass("has-success")
                    $("#change_user_name").removeClass("has-error")
                    <!--$("#change_user_profile").focus();-->
                    //아이디가 중복하지 않으면  idck = 1
                }
            },
        });
    });











    $('#change_user_name').on('keyup', function(){
        // 남은 글자 수를 구한다.
        var strValue = $(this).val();
        var strLen = strValue.length;
        console.log(strLen);
        var totalByte = 0;

        var len = 0;
        var oneChar = "";
        var str2 = "";

        for (var i = 0; i < strLen; i++) {
            oneChar = strValue.charAt(i);
            if (escape(oneChar).length > 4) {
                totalByte += 2;
            } else {
                totalByte++;
            }
        }
        console.log(totalByte);
        // 넘어가는 글자는 자른다.
        if (totalByte > 10) {
            alert(10 + "자를 초과 입력 할 수 없습니다.");
            str2 = strValue.substr(0, 10);
            $('#change_user_name').val(str2);
        }
    });
    $('#change_user_profile').on('keyup', function(){
        // 남은 글자 수를 구한다.
        var strValue = $(this).val();
        var strLen = strValue.length;
        console.log(strLen);
        var totalByte = 0;

        var len = 0;
        var oneChar = "";
        var str2 = "";

        for (var i = 0; i < strLen; i++) {
            oneChar = strValue.charAt(i);
            if (escape(oneChar).length > 4) {
                totalByte += 2;
            } else {
                totalByte++;
            }
            $('#body_byte3').html(totalByte + "/100");
        }
        console.log(totalByte);
        // 넘어가는 글자는 자른다.
        if (totalByte > 100) {
            alert(100 + "자를 초과 입력 할 수 없습니다.");
            str2 = strValue.substr(0, 100);
            $('#change_user_profile').val(str2);
        }
    });
});

/* var kk = "{{ replies }}" ;
console.log(kk); */

</script>

</html>
{% endblock %}