
<!DOCTYPE html>
<html lang="en">

{% extends 'unid/navigationbar.html' %}
{% load static %}
{% block content %}


<head>
<link href="{% static 'unid/css/mypage.css' %}" rel="stylesheet">
<!--<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&amp;subset=korean" rel="stylesheet">-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<script src="{% static 'unid/vendor/jquery/jquery.js' %}"></script>
</head>


<body>
    {% if mypage.aaa %}
    <div id="myinfo" style="background: url('/{{ mypage.aaa }}'); background-size: cover;">
    {% else %}
    <div id="myinfo" style="color: ; background-size: cover;">
    {% endif %}
        <div style="text-align:center; position:relative; padding-left: 1010px;">
            <a id="edit_icon">
                <img style="color: ##525f82; width:28px; margin-top:40px; margin-bottom:0px; cursor: pointer; margin-right:40px;" src="{% static 'unid/icon/ui icons-28.png' %}">
            </a>
        </div>
        <div id="profile-icon" style="margin-top:-25px" >
            {% if mypage.userimage %}
            <div id="user_image_icon" style="text-align:center; padding-top:30px;">
                <img style="width:67px; height: 67px; border-radius:50%;" src="/{{ mypage.userimage }}">
            </div>
            {% else %}
            <div style="text-align:center; padding-top:30px;">
                <img style="width:67px; height: 67px;text-align: center;" src="{% static 'unid/icon/profle-icon.png' %}">
            </div>
            {% endif %}
        </div>
        <div id="user_profile">
            <div style="text-align: center; font-size: 25px; font-weight:500;width:100%; height:45%; margin-top: 10px;">{{ mypage.name }}</div>
            {% if mypage.profile %}
            <div style="text-align: center; margin-top: 13px; font-size:13px">{{ mypage.profile }}</div>
            {% else %}
            <div style="text-align: center; margin-top: 13px; font-size:13px">프로필을 등록해 주세요!</div>
            {% endif %}
        </div>
        <div id="user-info2">
            <div id="joining-date" style="width:118%;">
                <p style="text-align: center; display:inline;"><img style="width:20px;" src="{% static 'unid/icon/ui icons-29.png' %}"> {{ joiningdate }}가입</p>
            </div>
            <div id="number-of-posts" style="width:125%;">
                <a href="#tab-1" id="my_articles" data-tab="tab-1" style="cursor: pointer; text-align: center; display:inline; width:125%;"><img style="width:20px;" src="{% static 'unid/icon/ui icons-31.png' %}">{{ numbersOfArticles }}게시글</a>
            </div>
            <div id="number-of-contents" style="width:80%;">
                <a href="#tab-2" id="my_contents" data-tab="tab-2" style="cursor: pointer; text-align: center; display:inline; width:80%;"><img style="width:20px;" src="{% static 'unid/icon/ui icons-30.png' %}">{{ numbersOfcontents }}콘텐츠</a>
            </div>
        </div>
    </div>


    {% if mypage.aaa %}
    <div id="myinfo_edit_mode" style="background: url('/{{ mypage.aaa }}'); background: rgba(0, 0, 0, 0.5)); background-size: cover;">
    {% else %}
    <div id="myinfo_edit_mode" style="color: ; background-size: cover; background: rgba(0, 0, 0, 0.5));">
    {% endif %}
        <div id="edit_icon_div" style="text-align:center; position: relative; padding-left:952px;">
            <a id="edit_icon" onclick="checkForm();">
                <img style="color: ##525f82; width:83px; margin-top:40px; margin-bottom:0px; margin-right:40px; cursor: pointer;" src="{% static 'unid/icon/ui icons-33.png' %}">
            </a>
        </div>
        <form id="user_profile_edit_form" name="user_profile_edit_form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <div id="profile-icon_edit" style="margin-top:-25px; height: 100px; padding-top:30px;">
            {% if mypage.userimage %}
                <img style="width:67px; height: 67px; border-radius:50%;" src="/{{ mypage.userimage }}">
            {% else %}
                <img style="width:67px; height: 67px;text-align: center;" src="{% static 'unid/icon/profle-icon.png' %}">
            {% endif %}
            </div>
            <div id="user_image_edit" style="width: 80px; position: relative; bottom: 76px; left: 50%;">
                <img style="position: relative; width:20px; cursor: pointer;" src="{% static 'unid/icon/ui icons-32.png' %}"/>
                <input id="user_image_upload" type="file" name="user_image_upload" style="position: relative; width: 20px; height: 15px; right: 24px; top: 5px;opacity: 0;" title="사진변경">
            </div>
            <div id="user_profile_edit">
                <div id="user_name_modifier" style="text-align: center;  width:100%; font-size: 25px; font-weight:500; margin-top:-18px;">
                <input id="change_user_name" autocomplete="off" type="text" style="outline: none; color: white; text-shadow: 0.5px 0.5px 0.5px black; text-align: center; border: 1px solid white; height:45%; background-color: transparent;" name="name" value="{{ mypage.name }}">
            </div>
            <div id="alert" style="width:100px; font-size:15px; color: #ed1b25; display: inline; left:830px; bottom: 44px; height: 30px;"></div>
                <div id="user_profile_modifier" style="text-align: center; width:100%; height: 45px; margin-top: 10px; font-size:13px">
                    <input id="change_user_profile" autocomplete="off" type="text" name="profile" value="{{ mypage.profile }}" style="text-align:center; color: white; text-shadow: 0.5px 0.5px 0.5px black;; border:1px solid white; background-color:transparent; height:25px; width: 300px;">
                    <div class="col_red" id="body_byte3" style="">0</div>
                </div>
            </div>
            <div id="user-info2">
                <div id="joining-date" style="width:118%;">
                    <p style="text-align: center; display:inline;"><img style="width:20px;" src="{% static 'unid/icon/ui icons-29.png' %}"> {{ joiningdate }}가입</p>
                </div>
                <div id="number-of-posts" style="width:125%;">
                    <p style="text-align: center; display:inline; width:125%;"><img style="width:20px;" src="{% static 'unid/icon/ui icons-31.png' %}">{{ numbersOfArticles }}게시글</p>
                </div>
                <div id="number-of-contents" style="width:80%;">
                    <p style="text-align: center; display:inline; width:80%;"><img style="width:20px;" src="{% static 'unid/icon/ui icons-30.png' %}">{{ numbersOfcontents }}콘텐츠</p>
                </div>
            </div>
            <div>
                <div id="edit_icon" style="cursor: pointer; text-align: center; position: relative; padding-left: 1010px; bottom: 30px;">
                    <img style="width:28px; cursor: pointer;" src="{% static 'unid/icon/ui icons-32.png' %}"/>
                    <input id="background" style="width: 29px; position: relative; right: 33px; opacity: 0; cursor: pointer;" type="file" name="background" title="배경사진등록">
                </div>
            </div>
        </form>
    </div>
    <div id="container">
        <ul class="tabs" id="tabs" style="margin-left:50px; margin-right:50px; padding-top:40px; font-size: 18px; font-weight: 500; border-bottom: 1px solid #c1c1c1; padding-bottom:5px;">
            <li class="tab-link current" data-tab="tab-1">나의 활동</li> &nbsp&nbsp
            <li class="tab-link" data-tab="tab-2">나의 자료</li> &nbsp&nbsp
            <li class="tab-link" data-tab="tab-3">나의 보상</li>
            <div id="wallet">
                <a href="../mywallet" style="color:black;"><img style="width:30px;" src="{% static 'unid/icon/wallet-for-mypage.png' %}">지갑</a>
            </div>
        </ul>
        <div id="tab-1" class="tab-content current">
            <div id="content_column">
                <div id="title_of_contents" class="my_articles">내가 작성한 글</div>
                <div id="number_of_something">{{ numbersOfArticles }}건</div>
                    <br>
                    <br>
                    <br>
                {% if articles %}
                    {% for article in articles %}
                    <div class="popular-row">
                        <ul class="row-top">
                            <li>
                                {% if article.user.userimage %}
                                <img src="/{{ article.user.userimage }}">
                                {% else %}
                                <img src="{% static 'unid/icon/profle-icon.png' %}">
                                {% endif %}
                            </li>
                            <li>
                                {{ article.user.name }}
                            </li>
                            <li>
                                ·         {{ article.created_at|timesince }}전
                            </li>
                                <img src="{% static 'unid/icon/tag_schoolinfo.png' %}" width="64.7px" height="21.7px" >
                        </ul>
                        <div class="row-picture">
                            <a href="{% url 'main_detail' article.posts_id %}">
                                {% if article.file_path %}
                                <img class="img-fluid rounded mb-3 mb-md-0" src="/{{ article.file_path }}" style="width:99px;  height: 75px" alt="">
                                {% else %}
                                <img class="img-fluid rounded mb-3 mb-md-0" src="/media/defaultthumbnail.png" style="width:99px;  height: 75px" alt="">
                                {% endif %}
                            </a>
                        </div>
                        <ul class="row-middle">
                            <li>
                                <a href="{% url 'main_detail' article.posts_id %}">{{ article.title }}</a>
                            </li>
                            <li>
                                <a href="{% url 'main_detail' article.posts_id %}">{{ article.contents|truncatechars_html:80 }}</a>
                            </li>
                        </ul>
                        <ul class="row-bottom">
                            <li>
                                <img src="{% static 'unid/icon/dollar-icon.png' %}"> {{ article.like_count }}
                            </li>
                            <li>
                                <img src="{% static 'unid/icon/heart-icon.png' %}"> {{ article.rewards }}
                            </li>
                            <li>
                                <img src="{% static 'unid/icon/wordballoon-icon.png' %}" width="25px" height="16.7px"> {{ article.rewards }}
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                {% else %}
                <div id="text_message">등록된 글이 없습니다. 글을 등록해보세요!</div>
                {% endif %}
                <input id="page" type="hidden" value="2">
                {% if posts.paginator.count > 4 %}
                <button id="callmorepost" class="form-control">
                    <i class="fas fa-chevron-down"></i>
                </button>
                {% endif %}
            </div>
            <div id="content_column" style="min-height:250px;">
                <div id="title_of_contents">최근 댓글 내역</div>
                <div id="number_of_something">{{ numbersOfReply }}건</div>
                <br>
                <br>
                <br>
                {% if replies %}
                    {% for reply in replies %}
                    <div class="popular-row">
                        <ul class="row-top">
                            <li>
                                {% if reply.user.userimage %}
                                <img src="/{{ reply.user.userimage }}">
                                {% else %}
                                <img src="{% static 'unid/icon/profle-icon.png' %}">
                                {% endif %}
                            </li>
                            <li>
                                {{ reply.user.name }}
                            </li>
                            <li>
                                ·         {{ reply.posts_id.created_at|timesince }}전
                            </li>
                                <img src="{% static 'unid/icon/tag_schoolinfo.png' %}" width="64.7px" height="21.7px" >
                        </ul>
                        <div class="row-picture">
                            <a href="{% url 'main_detail' reply.posts_id_id %}">
                                {% if reply.posts_id.file_path %}
                                <img class="img-fluid rounded mb-3 mb-md-0" src="/{{ reply.posts_id.file_path }}" style="width:99px;  height: 75px" alt="">
                                {% else %}
                                <img class="img-fluid rounded mb-3 mb-md-0" src="/media/defaultthumbnail.png" style="width:99px;  height: 75px" alt="">
                                {% endif %}
                            </a>
                        </div>
                        <ul class="row-middle">
                            <li>
                                RE:&nbsp&nbsp<a href="{% url 'main_detail' reply.posts_id_id %}">{{ reply.posts_id.title }}</a>
                            </li>
                            <li>
                                <a href="{% url 'main_detail' reply.posts_id_id %}">{{ reply.replytext|truncatechars_html:80 }}</a>
                            </li>
                        </ul>
                        <ul class="row-bottom">
                            <li>
                                <img src="{% static 'unid/icon/dollar-icon.png' %}"> {{ reply.posts_id.like_count }}
                            </li>
                            <li>
                                <img src="{% static 'unid/icon/heart-icon.png' %}"> {{ reply.posts_id.rewards }}
                            </li>
                            <li>
                                <img src="{% static 'unid/icon/wordballoon-icon.png' %}" width="25px" height="16.7px"> {{ reply.posts_id.rewards }}
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                {% else %}
                <div id="text_message">등록된 댓글이 없습니다. 글을 등록해보세요!</div>
                {% endif %}
            </div>
        </div>
        <div id="tab-2" class="tab-content">
            <div id="content_column" style="min-height:250px;">
                <div id="title_of_contents">내가 올린 콘텐츠</div>
                <div id="number_of_something">{{ numbersOfcontents }}건</div>
                <br>
                <br>
                <br>
                {% if contentsboard %}
                    {% for content in contentsboard %}
                    <div class="popular-row">
                        <ul class="row-top">
                            <li>
                                {% if content.writeremail.userimage %}
                                <img src="/{{ content.writeremail.userimage }}">
                                {% else %}
                                <img src="{% static 'unid/icon/profle-icon.png' %}">
                                {% endif %}
                            </li>
                            <li>
                                {{ content.writeremail.name }}
                            </li>
                            <li>
                                ·         {{ content.created|timesince }}전
                            </li>
                            <img src="{% static 'unid/icon/tag_schoolinfo.png' %}" width="64.7px" height="21.7px" >
                        </ul>
                        <div class="row-picture">
                            <a href="{% url 'contentsdetail' content.contents_id %}">
                                {% if content.imagepath %}
                                <img class="img-fluid rounded mb-3 mb-md-0" src="/{{ content.imagepath }}" style="width:99px;  height: 75px" alt="">
                                {% else %}
                                <img class="img-fluid rounded mb-3 mb-md-0" src="/media/defaultthumbnail.png" style="width:99px;  height: 75px" alt="">
                                {% endif %}
                            </a>
                        </div>
                        <ul class="row-middle">
                            <li>
                                <a href="{% url 'contentsdetail' content.contents_id %}">{{ content.title }}</a>
                            </li>
                            <li>
                                <a href="{% url 'contentsdetail' content.contents_id %}">{{ content.contents|truncatechars_html:80 }}</a>
                            </li>
                        </ul>
                        <ul class="row-bottom">
                            <li>
                                <img src="{% static 'unid/icon/dollar-icon.png' %}"> {{ content.price }}
                            </li>
                            <li>
                                <img src="{% static 'unid/icon/wordballoon-icon.png' %}" width="25px" height="16.7px"> {{ content.replymentcount }}
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                {% else %}
                <div id="text_message">등록된 콘텐츠가 없습니다. 콘텐츠을 등록해보세요!</div>
                {% endif %}
            </div>
            <div id="content_column" style="min-height:250px;">
                <div id="title_of_contents">내가 받은 콘텐츠</div>
                <div id="number_of_something">{{ numbersOfDownloads }}건</div>
                <br>
                <br>
                <br>
                {% if downloads %}
                    {% for download in downloads %}
                    <div class="popular-row">
                        <ul class="row-top">
                            <li>
                                {% if download.contents_id.writeremail.userimage %}
                                <img src="/{{ download.contents_id.writeremail.userimage }}">
                                {% else %}
                                <img src="{% static 'unid/icon/profle-icon.png' %}">
                                {% endif %}
                            </li>
                            <li>
                                {{ download.contents_id.writeremail.name }}
                            </li>
                            <li>
                                ·         {{ download.contents_id.created|timesince }}전
                            </li>
                            <img src="{% static 'unid/icon/tag_schoolinfo.png' %}" width="64.7px" height="21.7px" >
                        </ul>
                        <div class="row-picture">
                            <a href="{% url 'contentsdetail' download.contents_id.contents_id %}">
                                {% if download.contents_id.imagepath %}
                                <img class="img-fluid rounded mb-3 mb-md-0" src="/{{ download.contents_id.imagepath }}" style="width:99px;  height: 75px" alt="">
                                {% else %}
                                <img class="img-fluid rounded mb-3 mb-md-0" src="/media/defaultthumbnail.png" style="width:99px; height:75px;" alt="">
                                {% endif %}
                            </a>
                        </div>
                        <ul class="row-middle">
                            <li>
                                <a href="{% url 'contentsdetail' download.contents_id.contents_id %}">{{ download.contents_id.title }}</a>
                            </li>
                            <li>
                                <a href="{% url 'contentsdetail' download.contents_id.contents_id %}">{{ download.contents_id.contents|truncatechars_html:80 }}</a>
                            </li>
                        </ul>
                        <ul class="row-bottom">
                            <li>
                                <img src="{% static 'unid/icon/dollar-icon.png' %}"> {{ download.contents_id.price }}
                            </li>
                            <li>
                                <img src="{% static 'unid/icon/wordballoon-icon.png' %}" width="25px" height="16.7px"> {{ download.contents_id.replymentcount }}
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                {% else %}
                <div id="text_message">다운로드한 콘텐츠가 없습니다. 콘텐츠을 구매해보세요!</div>
                {% endif %}
            </div>
            <div id="content_column" style="margin-left: 50px; min-height:250px;">
                <div id="title_of_contents" style="margin-bottom:30px;">콘텐츠 거래 내역</div>
                <div class="row_for_table" style="width:95%; ">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" id="col" style="width:140px;">승인날짜</th>
                                <th scope="col" id="col" style="width:450px;">콘텐츠</th>
                                <th scope="col" id="col" style="">저자</th>
                                <th scope="col" id="col" style="">금액</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if contents_transfer %}
                                {% for content_transfer in contents_transfer %}
                                <tr>
                                    <th scope="row" style="text-align: center; font-size:13.1px; font-weight: 400;"> {{ content_transfer.transactiondate }}</th>
                                    <td style="text-align: center; font-weight:500;">{{ content_transfer.aaa }}</td>
                                    <td style="text-align: center;"><img src="{% static 'unid/icon/arrow-up.png' %}" border="0" width="18" height="18"> {{ content_transfer.toAccount }}</td>
                                    <td style="text-align: center;"><img src="{% static 'unid/icon/dollar-icon.png' %}" border="0" width="18" height="18"> {{ content_transfer.balance }}</td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="tab-3" class="tab-content">
            <div id="content_column">
                <div id="title_of_contents">정보공유 보상 내역</div>
                <div id="number_of_something" style="padding-left: 25px;">{{ numbersOfArticles }}건</div>
                <br>
                <br>
                <br>
                {% if articles %}
                <div class="row_for_table" style="width:95%; ">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" id="col" style="width:140px;">게시날짜</th>
                                <th scope="col" id="col" style="width:150px;">보상여부</th>
                                <th scope="col" id="col" style="width:150px">금액</th>
                                <th scope="col" id="col" style="">게시글</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if articles %}
                                {% for article in articles %}
                                <tr>
                                    <th scope="row" style="text-align: center; font-size:13.1px; font-weight: 400;"> {{ article.created_at }}</th>
                                    <td style="text-align: center; font-weight:500;">
                                        {% if article.aaa == success %}
                                        <img src="{% static 'unid/icon/success.png' %}" border="0" width="20" height="20">완료
                                        {% else %}
                                        <img src="{% static 'unid/icon/warning.png' %}" border="0" width="20" height="20">진행중
                                        {% endif %}
                                    </td>
                                    <td id="calculate" style="text-align: center;"><img src="{% static 'unid/icon/dollar-icon.png' %}" border="0" width="18" height="18">{{ article.like_count }}</td>
                                    <td style="text-align: center;">{{ article.title }}</td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div id="text_message">정보공유 보상내역이 없습니다. 정보공유 게시판에 글을 작성하고 보상을 받으세요!</div>
                {% endif %}
            </div>
            <div id="content_column">
                <div id="title_of_contents">보팅 보상 내역</div>
                <div id="number_of_something">{{ numbersOfLike }}건</div>
                <br>
                <br>
                <br>
                {% if myreward %}
                <div class="row_for_table" style="width:95%; ">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" id="col" style="width:140px;">게시날짜</th>
                                <th scope="col" id="col" style="width:150px;">보상여부</th>
                                <th scope="col" id="col" style="width:150px">금액</th>
                                <th scope="col" id="col" style="">게시글</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if likeusers %}
                                {% for like in likeusers %}
                                <tr>
                                    <th scope="row" style="text-align: center; font-size:13.1px; font-weight: 400;"> {{ like.last_modified }}</th>
                                    <td style="text-align: center; font-weight:500;">
                                        {% if like.aaa == success %}
                                        <img src="{% static 'unid/icon/success.png' %}" border="0" width="20" height="20">완료
                                        {% else %}
                                        <img src="{% static 'unid/icon/warning.png' %}" border="0" width="20" height="20">진행중
                                        {% endif %}
                                    </td>
                                    <td style="text-align: center;"><img src="{% static 'unid/icon/dollar-icon.png' %}" border="0" width="18" height="18"> 0.02 </td>
                                    <td style="text-align: center;">{{ like.posts_id.title }}</td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div id="text_message">보팅내역이 없습니다. 정보공유 게시글에 보팅하고 보상을 받으세요!</div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    function checkForm() {
        var form = document.user_profile_edit_form;
        var nickname = document.user_profile_edit_form.name;
        if(!nickname.value){
            alert("닉네임을 입력하세요");
            document.user_profile_edit_form.name.focus();
            return false;
        }


        var profile = document.user_profile_edit_form.profile;
        if(profile.value ==''){
            alert("프로필을 작성해주세요");
            profile.focus();
            return false;
        }

        var k = $('#alert').text();
        console.log(alert);
        if (k == "닉네임중복"){
            alert("중복된 닉네임입니다.");
            nickname.focus();
            return false;
        }

        var form = document.user_profile_edit_form;
        if(form.name){
            document.getElementById('user_profile_edit_form').submit();
        }
    }
    var calculate = document.getElementById('calculate')
    calculate = function calculate() {
        var valueforvoting = document.getElementById('calculate').value
        console.log(valueforvoting);
        var sumofreward = valueforvoting * 0.08
        var total = eval(sumofreward)
        if (valueforvoting==null) {
            document.getElementById("calculate").hide;
            document.getElementById("calculate").text="0";
        }
        else {
            document.getElementById("calculate").hide;
            document.getElementById("calculate").text(total);
        }
        console.log(total);
    }


    var moveId = document.getElementById('my_articles')
    moveId.onlick = function() {
        var offset = $("#tab-1" + current).offset();
        $('html, body').animate({scrollTop : offset.top}, 400);
    }



    jQuery(document).ready(function($){
        $('ul.tabs li').click(function(){
            var tab_id = $(this).attr('data-tab');
            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');


            $(this).addClass('current');
            $("#"+tab_id).addClass('current');
        });


        $('p#my_articles').click(function(){
            var tab_id = $(this).attr('data-tab');
            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');


            $(this).addClass('current');
            $("#"+tab_id).addClass('current');
        });

        $('p#my_contents').click(function(){
            var tab_id = $(this).attr('data-tab');
            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');


            $(this).addClass('current');
            $("#"+tab_id).addClass('current');
        });


        $('#edit_icon').on('click', function(){
            $('#myinfo').hide();
            $('#myinfo_edit_mode').show();
        });

        $('#myinfo_edit_mode').keyup(function(e) {
            if ( e.keyCode == 27) {
                $('#myinfo_edit_mode').hide();
                $('#myinfo').show();
            }
        });



        $("#change_user_name").on('keyup', function() {

            //userid 를 param.
            var user_name =  $("#change_user_name").val();
            var alert = "닉네임중복";
            var alert1 = "사용가능";
            var alert2 = "닉네임을 입력해주세요";
            $.ajax({
                type : 'POST',
                data : { name: user_name },
                cache : false,
                url: "../user_name_verification/",
                success : function(res) {
                    if (res.Ans == 1) {

                        $("#alert").html(alert);
                        $("#alert").css("color","#ed1b25");

                    //아이디가 존제할 경우 빨깡으로 , 아니면 파랑으로 처리하는 디자인
                        <!--$("#change_user_name").addClass("has-error")-->
                        <!--$("#change_user_name").removeClass("has-success")-->
                        $("#change_user_name").css("border", "2px solid #ed1b25")
                        $("#change_user_name").focus();
                    }
                    else if (res.Ans == 2) {
                        $("#alert").html(alert2);
                        $("#alert").css("color","#ed1b25");
                        $("#change_user_name").css("border", "2px solid #ed1b25")
                        $("#change_user_name").focus();
                    }

                    else {
                        <!--alert("사용가능한 아이디입니다.");-->
                        $("#alert").html(alert1);
                        $("#alert").css("color", "green");
                        //아이디가 존제할 경우 빨깡으로 , 아니면 파랑으로 처리하는 디자인
                        $("#change_user_name").css("border", "2px solid green")
                        $("#change_user_name").keyup(function(e){if(e.keyCode == 13)  document.getElementById('user_profile_edit_form').submit(); });
                        <!--$("#change_user_profile").focus();-->
                        //아이디가 중복하지 않으면  idck = 1
                    }
                },
            });
        });

        $("#change_user_profile").keyup(function(e){
            if(e.keyCode == 13){
                document.getElementById('user_profile_edit_form').submit();
            }
        });


        $('#change_user_name').on('keyup', function(){
            // 남은 글자 수를 구한다.
            var strValue = $(this).val();
            var strLen = strValue.length;
            console.log(strLen);
            var totalByte = 0;

            var len = 0;
            var oneChar = "";
            var str2 = "";

            for (var i = 0; i < strLen; i++) {
                oneChar = strValue.charAt(i);
                if (escape(oneChar).length > 4) {
                    totalByte += 2;
                }
                else {
                    totalByte++;
                }
            }
            console.log(totalByte);
            // 넘어가는 글자는 자른다.
            if (totalByte > 10) {
                alert(10 + "자를 초과 입력 할 수 없습니다.");
                str2 = strValue.substr(0, 10);
                $('#change_user_name').val(str2);
            }
        });

        $('#change_user_profile').on('keyup', function(){
            // 남은 글자 수를 구한다.
            var strValue = $(this).val();
            var strLen = strValue.length;
            console.log(strLen);
            var totalByte = 0;

            var len = 0;
            var oneChar = "";
            var str2 = "";

            for (var i = 0; i < strLen; i++) {
                oneChar = strValue.charAt(i);
                if (escape(oneChar).length > 4) {
                    totalByte += 2;
                }
                else {
                    totalByte++;
                }
                $('#body_byte3').html(totalByte + "/100");
            }
            console.log(totalByte);
            // 넘어가는 글자는 자른다.
            if (totalByte > 100) {
                alert(100 + "자를 초과 입력 할 수 없습니다.");
                str2 = strValue.substr(0, 100);
                $('#change_user_profile').val(str2);
            }
        });

        // 더보기 기능
        $('#callmorepost').click(function(){
            var page = $("#page").val();
            var end_page = {{ posts.paginator.num_pages }};
            if(page > end_page) {
                return;
            }
            callMorePostAjax(page);
            $("#page").val(parseInt(page)+1);
        });

        $(window).scroll(function() {
            var scrollHeight = $(window).scrollTop() + $(window).height() + 2;
            var documentHeight = $(document).height();

            if (scrollHeight >= documentHeight) {
                var page = $("#page").val();
                var end_page = {{ posts.paginator.num_pages}};
                if (page > end_page) {
                    return;
                }

                callMorePostAjax(page);
                $("#page").val(parseInt(page)+1);
            }
        });

        function callMorePostAjax(page) {
            var end_page = {{ posts.paginator.num_pages }};
            if(page > end_page) {
                return;
            }

            $.ajax({
                type : "POST",
                url : "../../unid/information/",
                data : {
                    "page" : page,
                    "csrfmiddlewaretoken" : "{{ csrf_token }}"
                },
                success : addMorePostAjax,
                dataType : "html",
                error : function(request, status, error){
                    alert('오류발생');
                },
            });
        }

        function addMorePostAjax(data, textStatus, jqXHR) {
            $(".popular-rows").append(data);
        }
    });
    /* var kk = "{{ replies }}" ;
    console.log(kk); */

</script>
</html>
{% endblock %}