<!DOCTYPE html>
<html lang="en">

{% extends 'unid/navigationbar.html' %}
{% load static %}
{% block content %}


<head>
    <link href="{% static 'unid/css/mypage.css' %}" rel="stylesheet">
    <link href="{% static 'unid/css/mywallet.css' %}" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&amp;subset=korean" rel="stylesheet">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <script src="{% static 'unid/vendor/jquery/jquery.js' %}"></script>
</head>


<body>
{% if mypage.aaa %}
    <div id="myinfo" style="background: url('/{{ mypage.aaa }}'); background-size: cover;">
{% else %}
    <div id="myinfo">
{% endif %}
        <div style="text-align:right;">
            <a id="edit_icon" >
                <img style="color: ##525f82; width:50px; margin-top:40px; margin-bottom:0px; margin-right:40px;" src="{% static 'unid/icon/edit_icon.png' %}">
            </a>
        </div>
        <div id="profile-icon">
            {% if mypage.userimage %}
            <div id="user_image_icon" style="text-align:center;">
                <img style="width:90px; height:90px; border-radius:50%;" src="/{{ mypage.userimage }}">
            </div>
            {% else %}
            <div style="text-align:center;">
                <img style="width:60px; margin-top:40px; text-align: center; margin-bottom:0px; padding-top:30px;" src="{% static 'unid/icon/user.png' %}">
            </div>
            {% endif %}
        </div>
        <ul id="user_profile">
            <li style="text-align: center; font-size: xx-large; font-weight:600; margin-top:15px; ">{{ mypage.name }}</li>
            {% if mypage.profile %}
                <li style="text-align: center; margin-left: 350px; margin-right: 350px; margin-top: 1px; font-size:large;">{{ mypage.profile }}</li>
            {% else %}
                <li style="text-align: center;">프로필을 등록해 주세요!</li>
            {% endif %}
        </ul>
        <div id="user-info2">
            <div id="joining-date">
                <p style="text-align: center; display:inline;"><img style="width:20px;" src="{% static 'unid/icon/joining-date.png' %}"> {{ mypage.joiningdate }}</p>
            </div>
            <div id="number-of-contents">
                <p style="text-align: center; display:inline;"><img style="width:20px;" src="{% static 'unid/icon/number-of-contents.png' %}">{{ numbersOfArticles }}게시글</p>
            </div>
        </div>
    </div>


{% if mypage.aaa %}
    <div id="myinfo_edit_mode" style="background: url('/{{ mypage.aaa }}'); background-size: cover;">
{% else %}
    <div id="myinfo_edit_mode">
{% endif %}
        <div style="text-align:right;">
            <a id="edit_icon" onclick="document.getElementById('user_profile_edit_form').submit()">
                <img style="color: ##525f82; width:50px; margin-top:40px; margin-bottom:0px; margin-right:40px;" src="{% static 'unid/icon/done_icon.jpg' %}">
            </a>
        </div>
        <form id="user_profile_edit_form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="profile-icon_edit" style="text-align:center">
                {% if mypage.userimage %}
                <img style="width:90px; height:90px; border-radius:50%;" src="/{{ mypage.userimage }}">
                {% else %}
                <img style="width:60px; margin-top:40px; text-align: center; margin-bottom:0px; padding-top:30px;" src="{% static 'unid/icon/user.png' %}">
                {% endif %}
            </div>
            <div id="user_image_edit" style="width: 80px; position: relative; bottom: 61px; left: 593px; cursor: pointer; opacity: 0;">
                <input id="user_image_upload" type="file" name="user_image_upload" title="사진변경">
            </div>
            <!--<ul id="cd-buttons">-->
                <!--<li><a href="#0" class="cd-popup-yes" id="enrollyes" onclick="document.getElementById('user_profile_edit_form').submit()">수정완료</a></li>-->
            <!--</ul>-->
            <ul id="user_profile_edit">
                <div id="user_name_modifier" style="text-align: center; font-size: xx-large; font-weight:600;">
                    <input id="change_user_name" type="text" name="name" value="{{ mypage.name }}" style="text-align:center; border:1px solid black; background-color:transparent; width:170px; height:40px;">
                </div>
                <div id="user_profile_modifier" style="text-align: center; margin-left: 350px; margin-right: 350px; margin-top: 15px; margin-left:370px;">
                    <input id="change_user_profile" type="text" name="profile" value="{{ mypage.profile }}" style="text-align:center; border:1px solid black; background-color:transparent; width:300px; height:26px;">
                    <span class="col_red" id="body_byte3">0</span>자
                </div>
            </ul>
            <div id="user-info2">
                <div id="joining-date">
                    <p style="text-align: center; display:inline;"><img style="width:20px;" src="{% static 'unid/icon/joining-date.png' %}"> {{ mypage.joiningdate }}</p>
                </div>
                <div id="number-of-contents">
                    <p style="text-align: center; display:inline;"><img style="width:20px; " src="{% static 'unid/icon/number-of-contents.png' %}">{{ numbersOfArticles }}게시글</p>
                </div>
            </div>
            <div id="edit_background" style="position: relative; text-align: right; margin-right:-30px;">
                <label id="label" style="text-align:right;">배경사진변경</label>
                <input id="background" style="width: 62px; position: relative; right: 80px; opcatity: 0; opacity: 0; cursor: pointer;" type="file" name="background" title="배경사진등록">
            </div>
        </form>
    </div>

    <div id="container">
        <ul class="tabs" id="tabs" style="margin-left:50px; margin-right:50px; padding-top:40px; font-size: larger; font-weight: bold; border-bottom: 1px solid #c1c1c1; padding-bottom:5px;">
            <li class="tab-link current" data-tab="tab-1">나의 활동</li> &nbsp&nbsp
            <li class="tab-link" data-tab="tab-2">나의 자료</li> &nbsp&nbsp
            <li class="tab-link" data-tab="tab-3">나의 보상</li>
            <div id="wallet">
                <a href="../mywallet" style="color:black;"><img style="width:30px;" src="{% static 'unid/icon/wallet-for-mypage.png' %}">지갑</a>
            </div>
        </ul>
        <div id="tab-1" class="tab-content current">
            <div id="myarticles">
                <br>
                <p style="text-align: left; font-size:larger; color:#9aa1a7;"><strong>내가 작성한 글</strong></p>
                <br>
                {% if articles %}
                    {% for article in articles %}
                    <div>
                        <span class="user_image">
                        {% if mypage.userimage %}
                            <img class="user_image_small_icon" src="/{{ mypage.userimage }}" border="0" style="border-radius: 50%" width="35" height="35">&nbsp
                        {% else %}
                            <img src="/static/unid/icon/profle-icon.png" border="0" width="35" height="35">&nbsp
                        {% endif %}
                        </span>
                        <span class="writer" style="font-weight: 700; font-size: larger;">{{ mypage.name }} </span>
                        <span class="writing-time">{{ article.created_at }}</span>
                        <span class="content-kind">{{ article.category }}</span>
                    </div>
                    <div class="row">
                        <div class="main-col-md-3">
                            <a href="#">
                                <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/200x200" alt="">
                            </a>
                        </div>
                        <div class="col-md-5">
                            <div class="detail-content">
                                <h3>{{ article.title }}</h3>
                                <p>
                                    {{ article.contents|truncatechars_html:170 }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p><strong>등록된 글이 없습니다. 글을 등록해보세요!</strong></p>
                {% endif %}
            </div>
            <br>
            <div id="reply">
                <p style="text-align: left; font-size:larger; color:#9aa1a7;"><strong>최근 댓글 내역</strong></p>
                <br>
                {% if replies %}
                    {%  for reply in replies %}
                    <div class="user">
                        {% if mypage.userimage %}
                            <img class="user_image_small_icon" src="/{{ mypage.userimage }}" border="0" style="border-radius: 50%" width="35" height="35">&nbsp
                        {% else %}
                            <img src="/static/unid/icon/profle-icon.png" border="0" width="35" height="35">&nbsp
                        {% endif %}
                        <span class="writer" style="font-weight: 700; font-size: larger;">{{ mypage.name }}</span>
                        <span class="writing-time">{{ reply.created_at }}</span>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="detail-content" style="margin-top:-20px;">
                                <h5>RE:{{ reply.posts_id.title }}</h5>
                                <p>
                                    {{ reply.replytext }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p><strong>등록된 댓글이 없습니다. 글을 등록해보세요!</strong></p>
                {% endif %}
            </div>
        </div>
        <div id="tab-2" class="tab-content">
            <div id="uploads">
                <br>
                <p style="text-align: left; font-size:larger; color:#9aa1a7;"><strong>내가 올린 콘텐츠</strong></p>
                <br>
                {% if contentsboard %}
                    {% for content in contentsboard %}
                    <div class="popular-contents">
                        <span class="user">
                            {% if mypage.userimage %}
                                <img class="user_image_small_icon" src="/{{ mypage.userimage }}" border="0" style="border-radius: 50%" width="35" height="35">&nbsp
                            {% else %}
                                <img src="/static/unid/icon/profle-icon.png" border="0" width="35" height="35">&nbsp
                            {% endif %}
                        </span>
                        <span class="writer">{{ mypage.name }}</span>
                        <span class="writing-time">{{ content.created }}</span>
                        <span class="content-kind">{{ content.category }}</span>
                    </div>
                    <div class="row">
                        <div class="main-col-md-3">
                            <a href="#">
                                <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/200x200" alt="">
                            </a>
                        </div>
                        <div class="col-md-5">
                            <div class="detail-content">
                                <h3>{{ content.title }}</h3>
                                <p>
                                    {{ content.contents|truncatechars_html:170 }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p><strong>등록된 콘텐츠가 없습니다. 콘텐츠을 등록해보세요!</strong></p>
                {% endif %}
            </div>
            <br>
            <div id="downloads">
                <p style="text-align: left; font-size:larger; color:#9aa1a7;"><strong>내가 받은 콘텐츠</strong></p>
                <br>
                <div id="downloads_contents">
                    {% if downloads %}
                        {% for download in downloads %}
                        <div>
                            <span class="user_image">
                            {% if mypage.userimage %}
                                <img class="user_image_small_icon" src="/{{ mypage.userimage }}" border="0" style="border-radius: 50%" width="35" height="35">&nbsp
                            {% else %}
                                <img src="/static/unid/icon/profle-icon.png" border="0" width="35" height="35">&nbsp
                                <img src="/static/unid/icon/profle-icon.png" border="0" width="35" height="35">&nbsp
                            {% endif %}
                            </span>
                            <span class="writer" style="font-weight: 700; font-size: larger;">{{ mypage.name }} </span>
                            <span class="writing-time">{{ download.content_id.created }}</span>
                            <span class="content-kind">{{ download.content_id.category }}</span>
                        </div>
                        <div class="row1">
                            <div class="main-col-md-31">
                                <a href="#">
                                    <img class="img-fluid rounded mb-3 mb-md-01" src="http://placehold.it/200x200" alt="">
                                </a>
                            </div>
                            <div class="col-md-51">
                                <div class="detail-content1">
                                    <h3>{{ download.content_id.title }}</h3>
                                    <p>
                                        {{ download.content_id.contents }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p><strong>다운로드한 콘텐츠가 없습니다. 콘텐츠을 구매해보세요!</strong></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="tab-3" class="tab-content">
            <div id="myrewards">
                <br>
                <p style="text-align: left; font-size:larger; color:#9aa1a7;"><strong>내 보상 내역</strong></p>
                <br>
                {% if myreward %}
                <div class="row">
                    <div class="history">
                        <div>
                            <span>컨텐츠 거래내역</span>
                            <span>6건</span>
                        </div>
                        <div>
                            <div class="history-total">
                            <div>
                                <span>total</span> <span>10.4nid</span>
                            </div>
                            <div>
                                <span>(+3.4)</span>
                            </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="history-detail">
                        2018.11.20   &nbsp&nbsp&nbsp
                        <img src="{% static 'unid/icon/warning.png' %}" border="0" width="20" height="20">
                        3.4nid
                        <span class="history-name" > 한양대 교양중 제일 재미있는 교양 추천의 보상</span>
                    </div>
                </div>
                <div class="row">
                    <div class="history-detail">
                        2018.11.20   &nbsp&nbsp&nbsp
                        <img src="{% static 'unid/icon/warning.png' %}" border="0" width="20" height="20">
                        3.4nid
                        <span class="history-name" > 한양대 교양중 제일 재미있는 교양 추천의 보상</span>
                    </div>
                </div>
                <div class="row">
                    <div class="history-detail">
                        2018.11.20   &nbsp&nbsp&nbsp
                        <img src="{% static 'unid/icon/success.png' %}" border="0" width="20" height="20">
                        3.4nid
                        <span class="history-name" > 한양대 교양중 제일 재미있는 교양 추천의 보상</span>
                    </div>
                </div>
                <div class="row">
                    <div class="history-detail">
                        2018.11.20   &nbsp&nbsp&nbsp
                        <img src="{% static 'unid/icon/success.png' %}" border="0" width="20" height="20">
                        3.4nid
                        <span class="history-name" > 한양대 교양중 제일 재미있는 교양 추천의 보상</span>
                    </div>
                </div>
                <div class="row">
                    <div class="history">
                        <div>
                            <span>보상내역</span>
                            <span>6건</span>
                        </div>
                        <div>
                            <div class="history-total">
                            <div>
                                <span>total</span> <span>10.4nid</span>
                            </div>
                            <div>
                                <span>(+3.4)</span>
                            </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="history-detail">
                        2018.11.20   &nbsp&nbsp&nbsp
                        <img src="{% static 'unid/icon/warning.png' %}" border="0" width="20" height="20">
                        3.4nid
                        <span class="history-name" > 한양대 교양중 제일 재미있는 교양 추천의 보상</span>
                    </div>
                </div>
                <div class="row">
                    <div class="history-detail">
                        2018.11.20   &nbsp&nbsp&nbsp
                        <img src="{% static 'unid/icon/warning.png' %}" border="0" width="20" height="20">
                        3.4nid
                        <span class="history-name" > 한양대 교양중 제일 재미있는 교양 추천의 보상</span>
                    </div>
                </div>
                <div class="row">
                    <div class="history-detail">
                        2018.11.20   &nbsp&nbsp&nbsp
                        <img src="{% static 'unid/icon/success.png' %}" border="0" width="20" height="20">
                        3.4nid
                        <span class="history-name" > 한양대 교양중 제일 재미있는 교양 추천의 보상</span>
                    </div>
                </div>
                <div class="row">
                    <div class="history-detail">
                        2018.11.20   &nbsp&nbsp&nbsp
                        <img src="{% static 'unid/icon/success.png' %}" border="0" width="20" height="20">
                        3.4nid
                        <span class="history-name" > 한양대 교양중 제일 재미있는 교양 추천의 보상</span>
                    </div>
                </div>
                </br>
                </br>


            <!--<div class="row">-->
                <!--<div class="main-col-md-3">-->
                    <!--<a href="#">-->
                        <!--<img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/200x200" alt="">-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-md-5">-->

                    <!--<div class="detail-content">-->
                        <!--<p>-->
                            <!--{{ myreward }}-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
                {% else %}
                    <p><strong>보상내역이 없습니다. 글을 등록하고 보상을 받으세요!</strong></p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
<!--<script>-->
    <!--var kk = {{ articles }};-->
    <!--console.log(kk);-->
<!--</script>-->

<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
$(document).ready(function(){
    $('ul.tabs li').click(function(){
    var tab_id = $(this).attr('data-tab');

    $('ul.tabs li').removeClass('current');
    $('.tab-content').removeClass('current');


    $(this).addClass('current');
    $("#"+tab_id).addClass('current');
    });


    $('#edit_icon').on('click', function(){
        $('#myinfo').hide();
        $('#myinfo_edit_mode').show();
    });

    $('#myinfo_edit_mode').keyup(function(e) {
	    if ( e.keyCode == 27) {
            $('#myinfo_edit_mode').hide();
            $('#myinfo').show();
	    }
	});


    $('#change_user_name').on('keyup', function(){
        // 남은 글자 수를 구한다.
        var strValue = $(this).val();
        var strLen = strValue.length;
        console.log(strLen);
        var totalByte = 0;

        var len = 0;
        var oneChar = "";
        var str2 = "";

        for (var i = 0; i < strLen; i++) {
            oneChar = strValue.charAt(i);
            if (escape(oneChar).length > 4) {
                totalByte += 2;
            } else {
                totalByte++;
            }
        }
        console.log(totalByte);
        // 넘어가는 글자는 자른다.
        if (totalByte > 10) {
            alert(10 + "자를 초과 입력 할 수 없습니다.");
            str2 = strValue.substr(0, 10);
            $('#change_user_name').val(str2);
        }
    });
    $('#change_user_profile').on('keyup', function(){
        // 남은 글자 수를 구한다.
        var strValue = $(this).val();
        var strLen = strValue.length;
        console.log(strLen);
        var totalByte = 0;

        var len = 0;
        var oneChar = "";
        var str2 = "";

        for (var i = 0; i < strLen; i++) {
            oneChar = strValue.charAt(i);
            if (escape(oneChar).length > 4) {
                totalByte += 2;
            } else {
                totalByte++;
            }
            $('#body_byte3').html(totalByte + "/100");
        }
        console.log(totalByte);
        // 넘어가는 글자는 자른다.
        if (totalByte > 100) {
            alert(100 + "자를 초과 입력 할 수 없습니다.");
            str2 = strValue.substr(0, 100);
            $('#change_user_profile').val(str2);
        }
    });
});

/* var kk = "{{ replies }}" ;
console.log(kk); */

</script>

</html>
{% endblock %}