<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv = "Cache-Control" content = "no-cache">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="{% static 'unid/vendor/jquery/jquery.js' %}"></script>
    <link href="{% static 'unid/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <script src="https://cdn.rawgit.com/ethereum/web3.js/develop/dist/web3.js"></script>

    <script src="{% static 'unid/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'unid/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <link href="{% static 'unid/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <title>uni:d</title>


    <!--favicon -->
    <link rel="shortcut icon" href="{% static 'unid/icon/unid_favicon.ico' %}">
    <!-- Bootstrap core CSS -->

    <!-- Custom styles for this template -->
    <link href="{% static 'unid/css/shop-homepage.css' %}" rel="stylesheet">
    <link href="{% static 'unid/css/mywallet.css' %}" rel="stylesheet">
    <!-- 검색아이콘 -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- 구글 notosan-font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&amp;subset=korean" rel="stylesheet">
    <!--wallet function-->
    <!--<link rel="stylesheet" href="{% static 'unid/node_modules/bootstrap/dist/css/bootstrap.css' %}">-->
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
    <script src="{% static 'unid/node_modules/jquery/dist/jquery.js' %}"></script>
    <!--<script src="{% static 'unid/node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>-->
    <!--transaction-toast-->
    <script src="{% static 'unid/node_modules/jquery-toast-plugin/dist/jquery.toast.min.js' %}"></script>
    <link href="{% static 'unid/node_modules/jquery-toast-plugin/dist/jquery.toast.min.css' %}" rel="stylesheet">
    <!--font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="padding: 0 1rem;">
    <div class="container">
        <a class="navbar-brand" href="/unid/">
            <img src="{% static 'unid/icon/unid_icon.png' %}" border="0" width="113" height="54">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="box">
             <div class="container-1">
                 <div class="icon-box">
                    <span class="icon"><i class="fa fa-search"></i></span>
                 </div>
                 <div class="text-box">
                     <form method="get" action="/search/">
                         <input type="search" name="q" id="id_q" placeholder="Search..." />
                     </form>
                 </div>
              </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto" style="vertical-align: middle;">
                <li class="nav-item">
                    <a class="nav-link unid-menus" id="nav1" href="/unid">정보공유</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link unid-menus" id="nav2" href="/unid/contentstran">콘텐츠거래</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link unid-menus" id="nav4" href="#0">크라우드 펀딩</a>
                </li>
                {% if user.email %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="nav3" data-toggle="dropdown" href="#">
                        <img src="{% static 'unid/icon/profle-icon.png' %}" border="0" width="32" height="32">
                    </a>
                    <div class="dropdown-menu" id="dropdown">
                        <a class="dropdown-item" href="/unid/mypage" id="go-mypage">마이페이지</a>
                        <a class="dropdown-item" href="/unid/mywallet" id="go-mywallet">내지갑</a>
                        <a class="dropdown-item" href="/unid/main_upload" id="go-writepost">게시글작성</a>
                        <a class="dropdown-item" href="/unid/contentsupload" id="go-uploadcontents">콘텐츠등록</a>
                        <a class="dropdown-item" href="/accounts/logout" id="go-logout">로그아웃</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link unid-menus" id="go-login" href="/unid/login">로그인</a>
                </li>
                <li class="nav-item signup">
                    <a class="nav-link unid-menus" id="go-signup" href="/unid/signup">회원가입</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

</nav>



{% block content %}

{% endblock %}


</body>
<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>

    jQuery(document).ready(function($){
        $('#nav4').on('click', function() {
            alert("게시판 준비중입니다.");
        });

    });
</script>
</html>
