<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv = "Cache-Control" content = "no-cache">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="{% static 'unid/vendor/jquery/jquery.js' %}"></script>
    <link href="{% static 'unid/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <script src="https://cdn.rawgit.com/ethereum/web3.js/develop/dist/web3.js"></script>

    <script src="{% static 'unid/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'unid/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <link href="{% static 'unid/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <title>uni:d</title>


    <!--favicon -->
    <link rel="shortcut icon" href="{% static 'unid/icon/unid_favicon.ico' %}">
    <!-- Bootstrap core CSS -->

    <!-- Custom styles for this template -->
    <link href="{% static 'unid/css/shop-homepage.css' %}" rel="stylesheet">
    <link href="{% static 'unid/css/contentstran.css' %}" rel="stylesheet">
    <!-- 검색아이콘 -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- 구글 notosan-font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&amp;subset=korean" rel="stylesheet">
    <!--wallet function-->
    <!--<link rel="stylesheet" href="{% static 'unid/node_modules/bootstrap/dist/css/bootstrap.css' %}">-->
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
    <script src="{% static 'unid/node_modules/jquery/dist/jquery.js' %}"></script>
    <!--<script src="{% static 'unid/node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>-->
    <!--font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script>
        $(document).ready(function() {
            var some_id = $('#id_q');
            some_id.prop('type', 'text');
            some_id.removeAttr('autocomplete');

        });
    </script>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
    <!--transaction-toast-->
    <script src="{% static 'unid/node_modules/jquery-toast-plugin/dist/jquery.toast.min.js' %}"></script>
    <link href="{% static 'unid/node_modules/jquery-toast-plugin/dist/jquery.toast.min.css' %}" rel="stylesheet">
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
    <script type="text/javascript">

    // In a perfect world, this would be its own library file that got included
    // on the page and only the ``$(document).ready(...)`` below would be present.
    // But this is an example.
    var Autocomplete = function(options) {
      this.form_selector = options.form_selector
      this.url = options.url || '/search/autocomplete/'
      this.delay = parseInt(options.delay || 300)
      this.minimum_length = parseInt(options.minimum_length || 3)
      this.form_elem = null
      this.query_box = null
    }

    Autocomplete.prototype.setup = function() {
      var self = this
      console.log(1);
      this.form_elem = $(this.form_selector)
      this.query_box = this.form_elem.find('input[name=q]')
      console.log(2);
      // Watch the input box.
      this.query_box.on('keyup', function() {
        var query = self.query_box.val()
        console.log(3);
        if(query.length < self.minimum_length) {
          console.log(4);
          return false
        }

        self.fetch(query)
      })

      // On selecting a result, populate the search field.
      this.form_elem.on('click', '.ac-result', function(ev) {
        self.query_box.val($(this).text())
        console.log(5);
        $('.ac-results').remove()
        console.log(6);
        return false
      })
    }

    Autocomplete.prototype.fetch = function(query) {
      var self = this
        console.log(6);
      $.ajax({
        url: this.url
      , data: {
          'q': query
        }
      , success: function(data) {
          self.show_results(data)
          console.log(7);
        }
      })
    }

    Autocomplete.prototype.show_results = function(data) {
      // Remove any existing results.
      $('.ac-results').remove()
        console.log(8);
      var results = data.results || []
      var results_wrapper = $('<div class="ac-results"></div>')
      var base_elem = $('<div class="result-wrapper"><a href="#" class="ac-result"></a></div>')

      if(results.length > 0) {
        for(var res_offset in results) {
            console.log(9);
          var elem = base_elem.clone()
          // Don't use .html(...) here, as you open yourself to XSS.
          // Really, you should use some form of templating.
          elem.find('.ac-result').text(results[res_offset])
          console.log(results[res_offset]);
          console.log(10);
          results_wrapper.append(elem)
        }
      }
      this.query_box.after(results_wrapper)
    }

    $(document).ready(function() {
      window.autocomplete = new Autocomplete({
        form_selector: '.autocomplete-me'
      })
      window.autocomplete.setup()


    })


    </script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="padding: 0 1rem;">
    <div class="container">
        <a class="navbar-brand" href="/unid/">
            <img class="twinkle-transparent" src="{% static 'unid/icon/unid_icon.png' %}" border="0" width="80" height="35">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="box">
             <div class="container-1">
                 <span class="icon"><i class="fa fa-search"></i></span>
                 <form method="get" action="/search/" class="autocomplete-me" autocomplete="off">
                     {% if query %}
                     <input type="text" name="q" id="id_q" class="autocomplete-me dropdown reject" data-toggle="dropdown" value="{{ query }}" placeholder="Search..." autocomplete="off" />
                     {% else %}
                     <input type="text" name="q" id="id_q" class="autocomplete-me dropdown reject" data-toggle="dropdown" placeholder="Search..." autocomplete="off" />
                     {% endif %}
                     <ul id="id_models" style="display: none;">
                         <li>
                             <input type="checkbox" name="models" value="unid.note" id="id_models_0">" Notes"
                         </li>
                         <li>
                             <input type="checkbox" name="models" value="unid.uploadcontents" id="id_models_1">" Upload contents"
                         </li>
                         <li>
                             <input type="checkbox" name="models" value="unid.post" id="id_models_2">" Informations"
                         </li>
                     </ul>
                 </form>
              </div>
        </div>
        <div class="collapse navbar-collapse nav-menu-box" id="navbarResponsive">
            <ul class="navbar-nav ml-auto" id="navbar-main" style="vertical-align:middle;">
                <li class="nav-item">
                    <a class="nav-link unid-menus twinkle-grey" id="nav1" href="/unid/information/">정보공유</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link unid-menus twinkle-grey" id="nav2" href="/unid/searchcontents/레포트">콘텐츠거래</a>
                </li>
                <li class="nav-item" style="margin: 0 35px 0 12px;">
                    <a class="nav-link unid-menus twinkle-grey" id="nav4" href="/unid/crowdfunding">크라우드 펀딩</a>
                </li>
                {% if user.email %}
                <li class="nav-item dropdown">
                    {% if request.session.user_image %}
                    <a class="nav-link dropdown-toggle" id="nav3" data-toggle="dropdown" href="#" style="padding: 19px 0;">
                        <img src="/{{ request.session.user_image }}" style="border-radius:50%;" border="0" width="32" height="32">
                    </a>
                    {% else %}
                    <a class="nav-link dropdown-toggle" id="nav3" data-toggle="dropdown" href="#" style="padding: 19px 0;">
                        <img src="{% static 'unid/icon/profle-icon.png' %}" border="0" width="32" height="32">
                    </a>
                    {% endif %}
                    </a>
                    <div class="dropdown-menu" id="dropdown">
                        <a class="dropdown-item twinkle-grey" href="#">{{ request.session.user_name }}님</a>
                        <hr>
                        <a class="dropdown-item twinkle-grey" href="/unid/mypage" id="go-mypage">마이페이지</a>
                        <a class="dropdown-item twinkle-grey" href="/unid/mywallet" id="go-mywallet">내지갑</a>
                        <a class="dropdown-item twinkle-grey" href="/unid/logout" id="go-logout">로그아웃</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item signup">
                    <div>
                        <a class="unid-menus unid-menus-signup twinkle-grey" href="/unid/login" style="color: white;">시작하기</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

</nav>

{% block content %}

{% endblock %}


</body>

<br>
<br>

<footer>
    <div class="corperationCompanys">
        <div class="multicampus">
            <img src="{% static 'unid/img/유니드 footer 멀티캠퍼스.png' %}">
        </div>
        <div class="HP">
            <img src="{% static 'unid/img/유니드 footer HP.png' %}" style="width: 50px; height: 50px">
        </div>
        <div class="openeg">
            <img src="{% static 'unid/img/유니드 footer openeg.png' %}">
        </div>
        <div class="ethereum">
            <img src="{% static 'unid/img/유니드 footer ethereum.png' %}">
        </div>
        <div class="fabric">
            <img src="{% static 'unid/img/유니드 footer fabric.png' %}">
        </div>
    </div>
    <div class="zzzzz">
        <div class="zzzz">
            <img src="{% static 'unid/img/유니드 footer 과기부.png' %}" class="zzz">
        </div>
        <div id = "at_the_end">
            <span style="border-right: 1px solid #c1c1c1; padding-right: 12px; padding-left: 10px;"><a href="#" style="color:#828282;">회사소개</a></span>
            <span style="border-right: 1px solid #c1c1c1; padding-right: 12px; padding-left: 10px;"><a href="mailto:web-master@gmail.com" style="color:#828282;">인터넷광고/제휴문의</a></span>
            <span style="border-right: 1px solid #c1c1c1; padding-right: 12px; padding-left: 10px;"><a href="/unid/termsofuse" style="color:#828282;">이용약관</a></span>
            <span><a href="/unid/privacy" style="border-right: 1px solid #c1c1c1; color:#828282; padding-right: 12px; padding-left: 10px;">개인정보처리방침</a></span>
            <span style="border-right: 1px solid #c1c1c1; padding-right: 12px; padding-left: 10px;" ><a href="mailto:web-master@gmail.com" style="color:#828282;">사이트관련문의</a></span>
            <span style="border-right: 1px solid #c1c1c1; padding-right: 12px; padding-left: 10px;" ><a href="mailto:web-master@gmail.com" style="color:#828282;">제안하기</a></span>
            <span style="border-right: 1px solid #c1c1c1; padding-right: 12px; padding-left: 10px;" ><a href="#" style="color:#828282;">고객센터</a></span>
        </div>
        <div id = "at_the_end2">
            <div style="padding-right: 12px; padding-left: 10px;">
                (주)유니드  서울특별시 서초구 서초동 1302-2 내장산  TEL:02-3470-2114
            </div>
        </div>
    </div>

    <div id = "at_the_end3">
        <span>Copyright by Unid. All rights reserved. Since 2019</span>
    </div>
</footer>

</html>
