{% load static %}
<head>
    <link href="{% static 'unid/css/searchcontents.css' %}" rel="stylesheet">
    <link href="{% static 'unid/css/mywallet.css' %}" rel="stylesheet">
</head>
    {% for contents in contentsPost %}
    <div class="popular-row">
        <ul class="row-top">
            {% if contents.writeremail.name == mypage.name %}
            <a href="/unid/mypage">
            {% else %}
            <a href="{% url 'user_detail' contents.writeremail.IDX %}">
            {% endif %}
                <li>
                    {% if contents.writeremail.userimage %}
                    <img src="/{{ contents.user.userimage }}">
                    {% else %}
                    <img src="{% static 'unid/icon/profle-icon.png' %}">
                    {% endif %}
                </li>
                <li>
                    {{ contents.writeremail.email }}
                </li>
            </a>
            <li>
                ·         {{ contents.created|timesince }}전
            </li>
            <img src="/{{ contents.cagegory_path }}" width="75" height="25">
        </ul>
    <div class="row-picture">
        <a href="{% url 'contentsdetail' contents.contents_id %}">
            {% if contents.imagepath %}
            <img src="/{{ contents.imagepath }}" width="99px" height="75px" style="border-radius: 3px;">
            {% else %}
            <img src="/media/default.png" width="99px" height="75px" style="border-radius: 3px;">
            {% endif %}
        </a>
    </div>
    <ul class="row-middle">
        <li>
            <a href="{% url 'contentsdetail' contents.contents_id %}">{{ contents.title }}</a>
        </li>
        <li>
            <a href="{% url 'contentsdetail' contents.contents_id %}">{{ contents.intro }}</a>
        </li>
    </ul>
    <ul class="row-bottom">
        <li>
            <img src="{% static 'unid/icon/dollar-icon.png' %}"> {{ contents.price }}
        </li>
        <li>
            <img src="{% static 'unid/icon/wordballoon-icon.png' %}"> {{ contents.downloadcount }}
        </li>
        <li>
            <img src="{% static 'unid/icon/icons-조회수.png' %}" width="15" height="10" style="width:15; height:10;"> {{ contents.hits }}
        </li>
        <li>
            <img src="{% static 'unid/icon/download_number.png' %}" border="0" width="15" height="15">  {{ contents.downloadcount }}
        </li>
    </ul>
</div>
{% endfor %}

