{% extends 'unid/navigationbar.html' %}
{% load static %}
{% block content %}
<head>
    <link href="{% static 'unid/css/searchcontents.css' %}" rel="stylesheet">
    <link href="{% static 'unid/css/mywallet.css' %}" rel="stylesheet">
</head>
<div class="row-advertise">
    <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel" align="center">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-color: #1f4f29;">
                <img class="d-block img-fluid" src="/static/unid/img/unid banner 이니스프리.png" alt="Second slide">
            </div>
            <div class="carousel-item" style="background-color: #ffd650;">
                <img class="d-block img-fluid" src="/static/unid/img/unid banner 야나두.png" alt="First slide">
            </div>
            <div class="carousel-item" style="background-color: white;">
                <img class="d-block img-fluid" src="/static/unid/img/unid banner 청년.png" alt="Third slide">
            </div>
        </div>
    </div>
</div>
<div class="contents-post-container">
    <div class="contents-post-row">
        <div class="sidenav">
            <h4 class="my-4">태그 카테고리</h4>
            <div class="list-group">
                <a href="../searchcontents/레포트" class="list-group-item">#레포트</a>
                <a href="../searchcontents/강의자료" class="list-group-item">#강의자료</a>
                <a href="../searchcontents/강의노트" class="list-group-item">#강의노트</a>
                <a href="../searchcontents/시험자료" class="list-group-item">#시험자료</a>
                <a href="../searchcontents/동영상" class="list-group-item">#동영상</a>
                <a href="../searchcontents/자기소개서" class="list-group-item">#자소서</a>
                <a href="../searchcontents/이력서" class="list-group-item">#이력서</a>
                <a href="../searchcontents/PPT" class="list-group-item">#PPT</a>
                <a href="../searchcontents/논문" class="list-group-item">#논문</a>
            </div>
        </div>
        <div class="information-popular-row">
            <div class="popular-rows">
                <div class="popular-rows-title">
                    콘텐츠 게시글
                </div>
                <hr>
                {% for contents in contentslists %}
                <div class="popular-row">
                    <ul class="row-top">
                    <li>
                        {% if contents.writeremail.userimage %}
                        <img src="/{{ contents.user.userimage }}">
                        {% else %}
                        <img src="{% static 'unid/icon/profile-icon.png' %}">
                        {% endif %}
                    </li>
                    <li>
                        {{ contents.writeremail.email }}
                    </li>
                    <li>
                        ·         {{ contents.created|timesince }}전
                    </li>
                    <li>
                        {% if contents.category == "레포트" %}
                        <span>{{ contents.category }}</span>
                        {% elif contents.category == "강의노트" %}
                        <span>{{ contents.category }}</span>
                        {% elif contents.category == "시험자료" %}
                        <span>{{ contents.category }}</span>
                        {% elif contents.category == "동영상" %}
                        <span>{{ contents.category }}</span>
                        {% elif contents.category == "자소서" %}
                        <span>{{ contents.category }}</span>
                        {% elif contents.category == "이력서" %}
                        <span>{{ contents.category }}</span>
                        {% elif contents.category == "PPT" %}
                        <span>{{ contents.category }}</span>
                        {% else %}
                        <span>{{ contents.category }}</span>
                        {% endif %}
                    </li>
                </ul>
                <div class="row-picture">
                    <a href="{% url 'contentsdetail' contents.contents_id %}">
                        <img src="">
                    </a>
                </div>
                <ul class="row-middle">
                    <li>
                        <a href="{% url 'contentsdetail' contents.contents_id %}">{{ contents.title }}dasdsadas</a>
                    </li>
                    <li>
                        <a href="{% url 'contentsdetail' contents.contents_id %}">{{ contents.intro|truncatechars_html:80 }}</a>
                    </li>
                </ul>
                <ul class="row-bottom">
                    <li>
                        <img src="{% static 'unid/icon/dollar-icon.png' %}"> {{ contents.price }}
                    </li>
                    <li>
                        <img src="{% static 'unid/icon/wordballoon-icon.png' %}"> {{ contents.downloadcount }}
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    jQuery(document).ready(function($){
        $('#nav2').addClass('visible-place');
        });
</script>

{% endblock %}