{% extends 'unid/navigationbar.html' %}
{% load static %}
{% block content %}
<head>
    <link href="{% static 'unid/css/searchcontents.css' %}" rel="stylesheet">
</head>
<div style="background-color: #f2f2f2;">
<div class="row-advertise">
    <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel" align="center">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-color: #1f4f29;">
                <img class="d-block img-fluid" src="/static/unid/img/unid banner 이니스프리.png" alt="Second slide">
            </div>
            <div class="carousel-item" style="background-color: #ffd650;">
                <img class="d-block img-fluid" src="/static/unid/img/unid banner 야나두.png" alt="First slide">
            </div>
            <div class="carousel-item" style="background-color: white;">
                <img class="d-block img-fluid" src="/static/unid/img/unid banner 청년.png" alt="Third slide">
            </div>
        </div>
    </div>
</div>
<div class="contentsmain-container1">
    <div class="contents-post-container">
        <div class="contents-post-row">
            <div class="sidenav">
                <div class="popular-rows-title">
                    태그 카테고리
                </div>
                <div class="list-group">
                    <a href="../searchcontents/레포트" class="list-group-item">#레포트</a>
                    <a href="../searchcontents/강의자료" class="list-group-item">#강의자료</a>
                    <a href="../searchcontents/강의노트" class="list-group-item">#강의노트</a>
                    <a href="../searchcontents/시험자료" class="list-group-item">#시험자료</a>
                    <a href="../searchcontents/동영상" class="list-group-item">#동영상</a>
                    <a href="../searchcontents/자기소개서" class="list-group-item">#자소서</a>
                    <a href="../searchcontents/이력서" class="list-group-item">#이력서</a>
                    <a href="../searchcontents/PPT" class="list-group-item">#PPT</a>
                    <a href="../searchcontents/논문" class="list-group-item">#논문</a>
                </div>
            </div>
            <div class="information-popular-row">
                <div class="popular-rows">
                    <div class="popular-rows-top">
                        <div class="popular-rows-title">
                            {{ category }}
                        </div>
                        <div class="write-button">
                            <a class="twinkle-grey pointeffect" href="/unid/contentsupload" id="go-uploadcontents">
                                <img src="{% static 'unid/icon/icons-콘텐츠등록.png' %}" width="90" height="30">
                            </a>
                        </div>
                    </div>
                    <hr>
                    {% for contents in contentsPost %}
                    <div class="popular-row">
                        <ul class="row-top">
                            {% if contents.writeremail.name == mypage.name %}
                            <a href="/unid/mypage">
                            {% else %}
                            <a href="{% url 'user_detail' contents.writeremail.IDX %}">
                            {% endif %}
                                <li>
                                    {% if contents.writeremail.userimage %}
                                    <img src="/{{ contents.writeremail.userimage }}">
                                    {% else %}
                                    <img src="{% static 'unid/icon/profle-icon.png' %}">
                                    {% endif %}
                                </li>
                                <li>
                                    {{ contents.writeremail.email }}
                                </li>
                            </a>
                            <li>
                                ·         {{ contents.created|timesince }}전
                            </li>
                            <img src="/{{ contents.cagegory_path }}" width="75" height="25">
                        </ul>
                    <div class="row-picture">
                        <a href="{% url 'contentsdetail' contents.contents_id %}">
                            {% if contents.imagepath %}
                            <img src="/{{ contents.imagepath }}" width="99px" height="75px" style="border-radius: 3px;">
                            {% else %}
                            <img src="/media/default.png" width="99px" height="75px" style="border-radius: 3px;">
                            {% endif %}
                        </a>
                    </div>
                    <ul class="row-middle">
                        <li>
                            <a href="{% url 'contentsdetail' contents.contents_id %}">{{ contents.title }}</a>
                        </li>
                        <li>
                            <a href="{% url 'contentsdetail' contents.contents_id %}">{{ contents.intro }}</a>
                        </li>
                    </ul>
                    <ul class="row-bottom">
                        <li>
                            <img src="{% static 'unid/icon/dollar-icon.png' %}"> {{ contents.price }}
                        </li>
                        <li>
                            <img src="{% static 'unid/icon/wordballoon-icon.png' %}"> {{ contents.downloadcount }}
                        </li>
                        <li>
                            <img src="{% static 'unid/icon/icons-조회수.png' %}" width="15" height="10" style="width:15; height:10;"> {{ contents.hits }}
                        </li>
                        <li>
                            <img src="{% static 'unid/icon/download_number.png' %}" border="0" width="15" height="15">  {{ contents.downloadcount }}
                        </li>
                    </ul>
                </div>
                {% endfor %}
            </div>
            <input id="page" type="hidden" value="2">
            {% if contentsPost.paginator.count > 2 %}
            <button id="callmorepost" class="form-control">
                <i class="fas fa-chevron-down"></i>
            </button>
            {% endif %}
        </div>
    </div>
</div>
</div>
</div>
</body



<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>

    jQuery(document).ready(function($){
        $('#nav2').addClass('visible-place');


        $('#callmorepost').click(function(){
            var page = $("#page").val();
            console.log(page);
            var end_page = {{ contentsPost.paginator.num_pages }};
            console.log(end_page);
            if(page > end_page) {
                return;
            }
            callMorePostAjax(page);
            $("#page").val(parseInt(page)+1);
        });

        $(window).scroll(function() {
            var scrollHeight = $(window).scrollTop() + $(window).height() + 2;
            var documentHeight = $(document).height();
            if (scrollHeight >= documentHeight) {
                var page = $("#page").val();
                var end_page = {{ contentsPost.paginator.num_pages}};
                if (page > end_page) {
                    return;
                }

                callMorePostAjax(page);
                $("#page").val(parseInt(page)+1);
            }
        });

        function callMorePostAjax(page) {
            var end_page = {{ contentsPost.paginator.num_pages }};
            if(page > end_page) {
                return;
            }

            $.ajax({
                type : "POST",
                url : "../../unid/searchcontents/{{ category }}",
                data : {
                    "page" : page,
                    "csrfmiddlewaretoken" : "{{ csrf_token }}"
                },
                success : addMorePostAjax,
                dataType : "html",
                error : function(request, status, error){
                    alert('오류발생');
                },
            });
        }

        function addMorePostAjax(data, textStatus, jqXHR) {
            $(".popular-rows").append(data);
        }
    });
</script>

{% endblock %}