{% extends 'unid/navigationbar.html' %}
{% load static %}
{% block content %}
<!-- Page Content -->
<head>
    <link href="{% static 'unid/css/unidadmin.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&amp;subset=korean" rel="stylesheet">
</head>

<div class="admin-container">
    <div class="unid_users">
        <div class="title">
            Unid 사용자
        </div>
        {% for list in allUsers %}
        <ul class="context">
            <li>
                <img src="/{{ list.userimamge }}" width="50px", height="50px">
            </li>
            <li>
                {{ list.email }}
            </li>
            <li>
                {{ list.name }}
            </li>
            <li>
                {{ list.profile }}
            </li>
            <li>
                {{ list.joiningdate }}
            </li>
            <li>
                {{ list.votingcount }}
            </li>
            <li>
                {{ list.account }}
            </li>
            <li>
                {{ list.last_modified }}
            </li>
            <li>
                {{ list.is_blacklist }}
            </li>
        </ul>
        {% endfor %}
    </div>

    <div class="unid_blacklists">
        <h2>OPINIONS</h2>
        <p>사용자의 불편함을 개선합시다.</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>게시판</th>
                    <th>게시글 제목</th>
                    <th>작성자</th>
                    <th>신고자</th>
                    <th>신고이유</th>
                </tr>
            </thead>
            <tbody>
            {% for list in allOpinions %}
            <tr>
                <td id="postType{{ list.posts_id }}">{{ list.ccc }}</td>
                <td id="{{ list.posts_id }}"><a href="../contentsdetail/{{ list.posts_id }}">{{ list.bbb }}</a></td>
                <td id="writeruser{{ list.posts_id }}">{{ list.writeruser }}</td>
                <td id="fromuser{{ list.posts_id }}">{{ list.fromuser }}</td>
                {% if list.exceptopinion %}
                <td id="reason{{ list.posts_id }}">
                    {{ list.context }} ( {{ list.exceptopinion }} )
                    <input type="button" class="yellowCard" name="{{ list.posts_id }}" value="경고">
                    <input type="button" class="noProblem" name="{{ list.posts_id }}" value="이상없음">
                </td>
                {% else %}
                <td id="reason{{ list.posts_id }}">
                    {{ list.context }}
                    <input type="button" class="yellowCard" name="{{ list.posts_id }}" value="경고">
                    <input type="button" class="noProblem" name="{{ list.posts_id }}" value="이상없음">
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="unid_transacts">
        <div class="title">
            거래내역
        </div>
        <div class="context">
            {% for list in allTransacts %}

            {% endfor %}
        </div>
    </div>

    <div class="unid_contents">
        <div class="title">
            콘텐츠게시글
        </div>
        <div class="context">
            {% for list in allContents %}

            {% endfor %}
        </div>
    </div>

    <div class="unid_informations">
        <div class="title">
            정보공유게시글
        </div>
        <div class="context">
            {% for list in allPost %}

            {% endfor %}
        </div>
    </div>
</div>


<script>

    jQuery(document).ready(function($){
        $(document).on('click', '.yellowCard', function(){
            var post_id = $(this).attr('name');
            console.log(post_id);
            var postType = $('#postType' + post_id).text();
            var reason = $('#reason'+post_id).val();
            console.log(postType);

            $.ajax({
                type: 'POST',
                url: '../warninguser/',
                data: {
                    id: post_id,
                    postType: postType,
                    reason: reason,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                success : function(res) {
                    alert(res.Ans);
                }
            });
        });
    });
</script>

{% endblock %}

