
// Class
// Usage as a mixin
.body {
    font-family: 'Noto Sans KR', sans-serif;

    }
.element {
    .center-block();
}
.container-1 input#id_q{
      height: 40px;
      background: rgb(253, 253, 253);
      border: none;
      border-style:solid;
      border-width:1px;
      border-color:rgb(217, 217, 217);
      font-size: 10pt;
      float: left;
      color: #4d4d4d;
      padding-left: 45px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
      border-radius: 9px;
}

.container-1 input#id_q::-webkit-input-placeholder {
   color: #65737e;
}

.container-1 input#id_q:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.container-1 input#id_q::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.container-1 input#id_q:-ms-input-placeholder {
   color: #65737e;
}

.container-1 .icon{
      margin-left: 13px;
      margin-top: 6px;
      z-index: 1;
      color: #9a9a9a;
}


.box {
    width: 355px;
    height: 70px;
    padding: 15px 0;
}
.container{
    margin: 0 auto;
    max-width: 1070px !important;;
}
.nav-menu-box {
    height: 70px;
}

.nav-link{
    font-family: 'Noto Sans KR', sans-serif;
}
.unid-menus {
    width: 105px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    vertical-align: middle;
}
#navbar-main {
    margin-left: 135px !important;
}

#navbar-main li a {
    color:#4d4d4d;
    font-weight:600;
    font-size:12px;
}
#navbar-main li a:hover {
    color: gray;
}
.unid-menus-signup {
    width: 100px;
    height: 50px;
    background-color: #4d4d4d;
    position: relative;
    top: 18px;
    padding: 9px;
    color: white;
    border-radius: 6px;
    font-size:12px;
}
#go-signup{
    color: white;
}

.nav-item > a {
    vertical-align: middle;
    padding: 24px;
}

.twinkle-transparent:hover{
    opacity:0.7;
}
.twinkle-grey:hover {
    color:gray;
}

.container-1{
      width: 205px;
      vertical-align: middle;
      white-space: nowrap;
      margin:0 0 0 150px;
      height: 40px;
      margin: 0 0 0 105px;
}

.container-1 input#search{
    width: 300px;
    height: 50px;
    background: rgb(253, 253, 253);
    border: none;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(202, 202, 202);
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.container-1 input#search:-ms-input-placeholder {
   color: #65737e;
}

.container-1 .icon{
      position: absolute;
      top: 25%;
      z-index: 1;
      color: #4f5b66;
}
.visible-place {
    background-color: #ebeaea;
    height: 100%;
}
.row {
    width:800px;
    padding:10px;
    margin: 0 auto;
    margin:30px 30px 40px auto;
}
.rows {
    width: 1150px;
    /* height: 1600px; */
    margin: 0 auto;
    background-color: #ffffff!important;
    border-width: 1px;
    box-shadow: 0px 0px 10px 2px #b3afaf54;
    box-sizing: border-box;
    border-style: solid;
    border-color: rgb(179, 179, 179);
    border-color: transparent;
}

.rows {
    width:800px;
    margin: 0 auto;
    background-color:#ffffff!important;
    border-width:1px;
    box-shadow: 0px 0px 0px 2px #e6e6e6;
}

.contents-info {
    width: 700px;
    height:150px;
    border:1px;
    margin: 30px;
}
.main-row {
    height: 380px;
    position: relative;
    top: 20%;
    text-align: center;
    margin:20px 0 ;
}
.unid-logo {
    margin: 65px auto 0;
}
.unid-title {

    margin: 10px auto;
    font-size: 35px;
    font-weight: 700;
    color: white;
}
.unid-explain {
    margin: 15px auto 10px;
    font-size: 18px;
    color: white;
    font-weight: 300;
    width: 405px;
}
.unid-moreinfo {
    margin:0 auto;
    color: white;
    height: 25px;
    display: inline-block;
    width: 110px;
    background-color: #2f2f2f;
    border-radius: 16px;
    padding: 7px;
    font-size: 9px;
    cursor: pointer;
}
.contentsmain-container1 {
    background-color: #f2f2f2;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}
.container1 {
    margin:70px

}
.contents-detail {
    width: 1000px;
    border-width: 1px;
    box-shadow: 0px 0px 0px 1px #b3afaf54;
    padding: 20px;
}
.contents-reply {
    width: 600px;
}
.contents-payment {
    margin: 0 0 0 375px;
    text-align: right;
    position: relative;
    left: 25%;
}
.reply {
    height: 70px;
    margin: 20px 0 0 0;
}
.reply-picture {
    margin: 0 20px 0 0;
    float: left;
}
.reply-id {
    width: 100px;
    float: left;
}
.reply-date {
    width: 500px;
    float: left;
}
.reply-text {
    width: 500px;
    float: left;
    margin: 10px 0 0 0;
}
.contents-kind {
    margin: 10px auto 10px auto;
    width: 100px;
    background-color: red;
    color: white;
    border-radius:20px;
    backgraound-size: 100px;
    text-align: center;
}

}
.nav-link{
    font-family: 'Noto Sans KR', sans-serif;
}
.input-reply{
    width: 1000px;
    margin: 0 auto;
}

.unid-main-picture {
    background-image: url("/static/unid/img/Unidmain.png");
    background-size: cover;
    width: auto;
    height: 500%;
    position: relative;
    top: -7px;
}
.contents-icon-tags2 {
    padding: 0 0 30px 0;
    margin: 0 auto;
    position: relative;
    right: 32px;
}
.contents-icon-tag {
    width: 100px;
    pedding: 0 0 30px 0;
    margin: 30px 20px 0 25px;
    float: left;
}
.desc-1 {
    font-size: 14px;
    line-height: 17px;
    height: 35px;
    width: 110px;
    margin: 0 0 10px 0;
}
.desc-1 a{
    color: #353535;
    width: 160px;
}
.categoryname {
    color: black;
    font-weight: bold;
}
.contents-tag-row {
    width:900px;
    margin: 0 auto;
    background-color:#ffffff!important;
    border-width:1px;
    box-shadow: 0px 0px 0px 2px #e6e6e6;
}
.contents-popular-row {
    height: auto;
    width:1300px;
    margin: 40px auto;
    background-color:#ffffff!important;
    border-width:1px;
    box-shadow: 0px 0px 0px 2px #e6e6e6;
}
.contents-populars {
    margin: 0 auto;
    height: auto;
}
.contents-popular-tit {
    width: 200px;
    position: relative;
    top: 20px;
    left: 10px;
    font-size: 20px;
}

.contents-popular-kind {
    background-color: red;
    color: white;
    border-radius:20px;
    backgraound-size: 100px;
    text-align: center;
    display: inline-block;
    width: 100px;
}
.contents-recommend-row {
    width: 1300px;
    height: 400px;
    margin: 40px auto;
    background-color:#ffffff!important;
    border-width:1px;
    box-shadow: 0px 0px 0px 2px #e6e6e6;
}
.contents-popular-contents {
    width: 1200px;
    height: 330px;
    margin: 0 auto;
}
.contents-recommend-posting {
    width: 180px;
    pedding: 0 0 30px 0;
    margin: 30px 0 0 30px;
    float: left;
}


.information-popular-row {
    width: 1010px;
    height: auto;
    margin: 35px auto;
    background-color: #ffffff!important;
    border-width: 1px;
    box-shadow: 0px 0px 0px 2px #e6e6e6;
}
.information-popular-row .popular-rows {
    padding: 20px 30px 20px 30px;
    background-color: white;
}
.information-popular-row .popular-rows .popular-rows-title {
    color : #333333;
    font-weight: 500;
    font-size: 14.1px;
    margin: 0 0 20px 0;
}
.information-popular-row .popular-rows .popular-row {
    width: 950px;
    height: 120px;
    background-color: white;
}
.row-picture {
    display: inline-block;
    width: 99px;
    height: 75px;
    float: left;
}
.information-popular-row .popular-rows .popular-row ul:nth-child(1) {
    padding: 0;
    height: 30px;
    width: 950px;
    margin: 0 0 5px 0;
}
.information-popular-row .popular-rows .popular-row ul:nth-child(1) li {
    list-style: none;
    display: inline-block;
    padding: 0;
    text-align: center;
}
.information-popular-row .popular-rows .popular-row ul:nth-child(1) li:nth-child(1) img{
    width: 30px;
    height: 30px;
    border-radius: 25px;
}
.information-popular-row .popular-rows .popular-row ul:nth-child(1) li:nth-child(2) {
    font-size: 13.1px;
    font-weight: bold;
    color: #333333;
    margin: 0 10px 0 5px;
}
.information-popular-row .popular-rows .popular-row ul:nth-child(1) li:nth-child(3) {
    font-size: 11px;
    font-weight: 400;
    color: #666666;
    margin: 0 20px 0 5px;

}
.information-popular-row .popular-rows .popular-row ul:nth-child(1) li:nth-child(4) {
    font-size: 13px;
    font-weight: bold;
    color: white;
    width: 100px;
    border-radius: 25px;
    display: inline-block;
    height: 22px;
    padding: 2px;
    background-color: red;

}
.information-popular-row .popular-rows .popular-row ul:nth-child(3) {
    padding: 0;
    width: 830px;
    height: 50px;
    display: inline-block;
    margin: 0 0 0 15px;
}
.information-popular-row .popular-rows .popular-row ul:nth-child(3) li {
    list-style: none;
    width: 830px;

}
.information-popular-row .popular-rows .popular-row ul:nth-child(3) li:nth-child(1) {
    list-style: none;
    width: 830px;
    height: 20px;
    margin: 0 0 9px 0;
}
.information-popular-row .popular-rows .popular-row ul:nth-child(3) li:nth-child(1) a {
    color: #333333;
    font-size: 16px;
    font-weight: 500;
}
.information-popular-row .popular-rows .popular-row ul:nth-child(3) li:nth-child(2) {
    height: 20px;
    width: 830px;
    line-height: 16px;
}
.information-popular-row .popular-rows .popular-row ul:nth-child(3) li:nth-child(2) a {
    color: #4d4d4d;
    font-size: 14px;
    font-weight: 400;
}
.information-popular-row .popular-rows .popular-row ul:nth-child(1) li {
    list-style: none;
    display: inline;
    padding: 0;
}

.information-popular-row .popular-rows .popular-row ul:nth-child(4) {
    list-style: none;
    height: 20px;
    width: 830px;
    display: inline-block;
    margin: 0 0 0 20px;
    padding: 0;
}
.information-popular-row .popular-rows .popular-row ul:nth-child(4) li{
    list-style: none;
    display: inline-block;
    margin: 0 20px 0 0;
    font-size: 13px;
    color:#333333;
    font-weight: 400;
}

.information-popular-row .popular-rows .popular-row .row-bottom img {
    width: 15px;
    height: 15px;

}

.contents-popular-row {
    width:1010px;
    height: 350px;
    margin: 40px auto;
    background-color:#ffffff!important;
    border-width:1px;
    box-shadow: 0px 0px 0px 2px #e6e6e6;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 10px;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 55px;
    color: #fff;
    text-align: center;
    opacity: .5;
    height: 320px;
}
.contents-popular-posting {
    width: 110px;
    padding: 17px 0 20px 0;
    float: left;
    height: auto;
    margin: 0 20px;
}
.contents-popular-contents {
    width: 900px;
    height: 350px;
    margin: 0 auto;
}
.contents-popular-posting-date {
    display: inline-block;
    width: 100px;
    float: left;
    font-size: 13px;
}
.contents-popular-title {
    position: relative;
    width: 200px;
    margin: 20px 20px 20px 20px;
    display: inline;
    font-weight: 500;
    font-size: 14.1px;
    }

.contents-populars {
        margin: 0 auto;
        height: 350px;
        padding: 20px 10px;
    }

.carousel {
    margin: 0 !important;
}
.contents-price {
    display: inline;
    font-size: 13px;
}
.contents-download {
    display: inline;
    float: right;
    font-size: 13px;
    position: relative;
    top: 4px;
}

.corperationCompanys {
    width: 1010px;
    margin: 0 auto;
    border-bottom: 3px solid #c1c1c1;
    height: 65px;
}
.corperationCompanys > div {
    display: inline-block;
    margin: 0 20px 0 0;
}

.corperationCompanys > div > img {
    width: 120px;
    height 70px;

}

#at_the_end {
    width: 1100px;
    padding-top: 20px;
    font-size: 14px;
}
#at_the_end2 {
    width: 1100px;

    margin-top: 8px;
    padding-top: 6px;
}
#at_the_end2 div {
    padding-right: 12px;
    padding-left: 10px;
    font-size: 12px;
    color: #b1b1b1;
    margin: 0 0 2px 0;
}
.zzz {
    width: 100px;
    height: 100px;
}
.zzzz {
    display: inline-block;
    float: right;
    width: 110px;
    position: relative;
    top: 10px;

    }
.zzzzz {
    width: 1010px;
    margin: 0 auto;
}
#at_the_end3 {
    margin-top: 5px;
    text-align: center;
    margin-left: 220px;
    margin-bottom: 30px;
}
#at_the_end3 > span {
    font-size: 10px;
    color: #b1b1b1;
}
.pointeffect {
    cursor: pointer;
}
