
        // Class
        // Usage as a mixin
        .body {
            font-family: 'Noto Sans KR', sans-serif;

            }
        .element {
            .center-block();
        }

        .row {
            width:840px;
            padding:10px;
            margin: 0 auto;
        }
        .rows {
            width: 1150px;
            height: auto;
            margin: 0 auto;
            background-color: #ffffff!important;
            border-width: 1px;
            box-shadow: 0px 0px 10px 2px #b3afaf54;
            box-sizing: border-box;
            border-style: solid;
            border-color: rgb(179, 179, 179);
            border-color: transparent;
        }

        .rows {
            width: 1010px;
            margin: 0 auto;
            background-color:#ffffff!important;
            border-width:1px;
            box-shadow: 0px 0px 0px 1px #b3afaf54
        }

        .contents-info1 {
            width: 820px;
            border:1px;
        }
        .container1 {
            margin:70px;
            font-family: 'Noto Sans KR', sans-serif;
       }
        .contents-title {
            font-size: 30px;
            font-weight: 550;

        }
        .writerinfo {
            margin: 10px 20px 0;
            display: inline-block;
            font-weight: 500;
            font-size: 13px;
            height: 35px;
        }
        .dateinfo {
            display: inline-block;
            font-size: 12px;
        }
        .fileinfo {
            float: left;
            margin: 0 10px;
            }
        .fileinfo_box {
            width: 110px;
            cursor: pointer;
            float: right;
        }
        .carousel {
            margin: 0 auto;
            border-width: 1px;
            box-shadow: 0px 0px 0px 1px #b3afaf54;
        }
        .contents-reply {
            width: 840px;
            height: 37px;
            border-bottom: solid;
            border-width: 2px;
            border-color: #f2f2f2;
        }
        .contents-payment {
            margin: 0 0 0 480px;
            text-align: right;
            position: relative;
            left: 23%;
        }
        .reply {
            float: left;
            margin: 0 0 11px 0;
        }
        .reply-picture {
            margin: 0 10px 0 0;
            float: left;
        }
        .reply-id {
            float: left;
            margin: 0px 17px 0 0;
            font-size: 13px;
            font-weight: 500;
        }
        .reply-date {
            width: 452px;
            display: inline-block;
            font-size: 10px;
            float: left;
            padding: 3px;
        }
        .reply-text {
            width: 620px;
            float: left;
            /* margin: 10px 0 0 0; */
            font-size: 12px;
        }
        .contents-kind {
            margin: 10px auto 20px auto;
            width: 110px;
            background-color: red;
            color: white;
            border-radius:20px;
            backgraound-size: 100px;
            text-align: center;
        }
        .nav-item{
            font-size: 1rem;
            font-weight:600;
        }
        .nav-link{
            font-family: 'Noto Sans KR', sans-serif;
        }
        .input-reply{
            width: 1000px;
            margin: 0 auto 20px 0;
        }

        .row-advertise {
            width: 1519.2px;
            position: relative;
            top: 0px;
            margin: 0 auto;
        }
        .contents-icon-tags {
            padding: 0 0 30px 0;
        }
        .contents-icon-tag {
            width: 100px;
            pedding: 0 0 30px 0;
            margin: 30px 0 0 30px;
            float: left;
        }
        .contents-tag-row {
            width:1000px;
            margin: 0 auto;
            background-color:#ffffff!important;
            border-width:1px;
            box-shadow: 0px 0px 0px 2px #e6e6e6;
        }
        .contents-popular-row {
            width:1300px;
            height: 350px;
            margin: 40px auto;
            background-color:#ffffff!important;
            border-width:1px;
            box-shadow: 0px 0px 0px 2px #e6e6e6;
        }
        .contents-populars {
            margin: 0 auto;
            height: 350px;
        }
        .contents-popular-tit {
            width: 200px;

            position: relative;
            top: 20px;
            left: 10px;
            font-size: 20px;
        }
        .contents-popular-title {
            position: relative;
            width: 200px;
            margin: 20px 20px 20px 20px;
            display: inline;
            font-weight: bold;
            font-size: 25px;
            }
        .contents-popular-kind {
            width: 100px;
            background-color: red;
            color: white;
            border-radius:20px;
            backgraound-size: 100px;
            text-align: center;
            display: inline;
        }
        .title {
            font-size: 18px;
            font-weight: 500;
            margin: 0 0 12px 0;
        }
        .context {
            margin: 0 0 12px 10px;
            font-size: 15px;
            font-weight: 400;
        }
        .contents-recommend-row {
            width: 1300px;
            height: 400px;
            margin: 40px auto;
            background-color:#ffffff!important;
            border-width:1px;
            box-shadow: 0px 0px 0px 2px #e6e6e6;
        }
        .contents-popular-contents {
            width: 1200px;
            height: 350px;
            margin: 0 auto;
        }
        .contents-popular-posting {
            width: 205px;
            pedding: 0 0 30px 0;
            margin: 30px 0 0 30px;
            float: left;
        }
        .contents-popular-posting-date {
            display: inline;
            float: left;
            margin: 0 60px 0 0;
        }
        .contents-recommend-posting {
            width: 180px;
            pedding: 0 0 30px 0;
            margin: 30px 0 0 30px;
            float: left;
        }
        .replybutton {
            float: right;
        }
        .hi {
            display: inline;

        }

        .icon-box{
            width: 50px;
            display:inline;
            margin: 0 10px 0 0;
        }
        .icon-boxs {
            width: 570px;
            float: left;

        }
        .carousel-indicators .active {
            background-color: #878585;
        }

        .carousel-indicators {
            bottom: 30px;
        }
        .carousel-indicators li {
            background-color: rgb(195, 195, 195);
        }