
        // Class
        // Usage as a mixin
        .element {
            .center-block();
        }

        .container-2{
              width: 300px;
              vertical-align: middle;
              white-space: nowrap;
              position: relative;
              margin:0 0 0 900px;
        }

        .container-2 input#search2{
             width: 200px;
              height: 50px;
              background: rgb(253, 253, 253);
              border: none;
              border-style:solid;
              border-width:1px;
              border-color:rgb(202, 202, 202);
              font-size: 10pt;
              float: left;
              color: #63717f;
              padding-left: 45px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
              border-radius: 5px;
        }

        .container-2 input#search2::-webkit-input-placeholder {
           color: #65737e;
        }

        .container-2 input#search2:-moz-placeholder { /* Firefox 18- */
           color: #65737e;
        }

        .container-2 input#search2::-moz-placeholder {  /* Firefox 19+ */
           color: #65737e;
        }

        .container-2 input#search2:-ms-input-placeholder {
           color: #65737e;
        }

        .container-2 .icon{
              position: absolute;
              top: 50%;
              margin-left: 17px;
              margin-top: 14px;
              z-index: 1;
              color: #9a9a9a;
        }


        .row {
            width:945px;
            padding:10px;
            margin: 0 auto;
            margin:30px auto 20px auto;
            float:middle;
        }


        .rows {
            width:1000px;
            height:1000px;
            margin: 0 auto;
            background-color:#ffffff!important;
            border-width:1px;
            box-shadow: 0px 0px 0px 2px #e6e6e6;
            box-sizing: border-box;
            border-style: solid;
            border-color: rgb(179, 179, 179);
            border-color: transparent;

        }

        .contents-info {
            width: 1100px;
            height:150px;
            border:1px;
            margin: 0px;

        }
        .contents-title{
            font-weight: 500;
            float: left;
            width: 33%;
            padding:10px;
        }
        .contents-title2{
            font-weight: 500;
            float: right;
            width: 33%;
            padding:10px;
        }


        .container1 {
            padding:70px;
            margin: 0 !important;
         }
        .contents-detail {
            width: 1000px;
            border: solid;
            border-width: 2px;
            border-color: #b3afaf54;
            padding: 20px;

        }

        .contents-kind {
            margin: 10px auto 10px auto;
            width: 120px;
            height: 27px;
            display: inline-block;
            background-color: red;
            color: white;
            border-radius:20px;
            backgraound-size: 100px;
            text-align: center;
        }
        .icon-name{
            font-family: 'Noto Sans KR', sans-serif;
        }

        .input-reply{
            width: 1000px;
            margin: 0 auto;
        }

        .contents-icon-tags {
            padding: 0 0 30px 0;
        }
        .contents-icon-tag {
            width: 100px;
            pedding: 0 0 30px 0;
            margin: 30px 0 0 30px;
            float: left;
        }
        .contents-tag-row {
            width:1000px;
            margin: 0 auto;
            background-color:#ffffff!important;
            border-width:1px;
            box-shadow: 0px 0px 0px 2px #e6e6e6;
        }


        .contents-popular-tit {
            width: 200px;

            position: relative;
            top: 20px;
            left: 10px;
            font-size: 20px;
        }

        .contents-popular-kind {
            width: 100px;
            background-color: red;
            color: white;
            border-radius:20px;
            backgraound-size: 100px;
            text-align: center;
            display: inline;
        }
        .contents-recommend-row {
            width: 1300px;
            height: 400px;
            margin: 40px auto;
            background-color:#ffffff!important;
            border-width:1px;
            box-shadow: 0px 0px 0px 2px #e6e6e6;
        }
        .contents-recommend-posting {
            width: 180px;
            pedding: 0 0 30px 0;
            margin: 30px 0 0 30px;
            float: left;
        }
        .history-total {
            width: 950px;
            font-family: 'Noto Sans KR', sans-serif;
            float: right;
            font-size:15px;
            margin: 0px 30px 0 50px;
            text-align:right;

        }

        .history-name{
             font-family: 'Noto Sans KR', sans-serif;
             float: right;
             font-size:15px;
        }

        .history-detail{
            font-family: 'Noto Sans KR', sans-serif;
            align:right;
            width: 980px;
            height: 2px;
            margin: 0px 30px 0 50px;

        }
        .history{
            font-family: 'Noto Sans KR', sans-serif;
            margin: 10px 30px 0 50px;
         }

        .function-button{
            float: left;
            align-contents: center;
            text-align: center;
            width: 33%;
            padding:10px;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            position: relative;
            width: 35%;
            max-width: 500px;
            height: auto;
            margin: 9em auto;
            text-align: center;
            background: #FFF;
            -webkit-transform: translateY(-40px);
            -moz-transform: translateY(-40px);
            -ms-transform: translateY(-40px);
            -o-transform: translateY(-40px);
            transform: translateY(-40px);
            /* Force Hardware Acceleration in WebKit */
            -webkit-backface-visibility: hidden;
            -webkit-transition-property: -webkit-transform;
            -moz-transition-property: -moz-transform;
            transition-property: transform;
            -webkit-transition-duration: 0.3s;
            -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
            padding: 30px;
        }
        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        .user_image_small_icon {
            border-radius: 50%;
        }

        #pop {
            margin-top:0px;
            margin-bottom:0px;

        }

        @keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }
        
        @-moz-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }
        
        @-webkit-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }
        
        @-o-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }
        
        @keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }
        
        @-moz-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }
        
        @-webkit-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }
        
        @-o-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }
        
        @keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }
        
        @-moz-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }
        
        @-webkit-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }
        
        @-o-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        .contentsmain-container1 {
            background-color: #f2f2f2;
            height: 100%;
            font-family: 'Noto Sans KR', sans-serif;

        }
        #table-list-tran{
            display: inline-block;
        }
        #table-list-ex{
            display: none;
        }
        #table-list-pu{
            display: none;
        }
        #list-drop{
            margin: 50px 40px -80px 0px;
        }

        .table{
            margin: 0px 0px 0px 0px;
        }

        #idaccount{
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 400;
        }
        .icon-name{
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 500;
        }
        #nid-eth-value{
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 500;
            font-size: 15px;
        }
        .modal-content{
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 400;
        }