.row {
    width:1300px;
    padding:10px;
    margin: 0 auto;
    margin:0px auto 20px auto;
}

a {
color: #212529;
text-decoration: none;
background-color: transparent;
-webkit-text-decoration-skip: objects;
}

.list-group-item {
position: relative;
display: block;
padding: 15px 0 0 0px;
margin-bottom: -1px;
background-color: #fff;
border: 1px solid white;
    color: gray;
}
.contents-post-container {
    line-height: 15px;
    width: 1010px;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    min-height: 700px;
}
.row-advertise {
    width: 100%;
    position: relative;
    top: -5px;
    margin: 20px auto 0 auto;
}
.sidenav {
    box-shadow: 0px 0px 0px 2px #e6e6e6;
    padding: 20px 0 0 20px;
    margin: 35px auto;
    margin-right: 18px;
    height: 600px;
    display: inline-block;
    width: 210px;
    float: left;
    background-color: white;
}
.contents-post-
.mainContent {
box-shadow: 0px 0px 0px 2px #e6e6e6;
padding: 15px;
}

.col-lg-9 {
box-shadow: 0px 0px 0px 2px #e6e6e6;
padding: 15px;
margin-left: 10px;
margin-top: 40px;
}


.contents-kind {
margin: 10px auto 10px auto;
padding: 3px;
width: 100px;
background-color: red;
color: white;
border-radius: 20px;
backgraound-size: 100px;
text-align: center;
}

@media (min-width: 992px)
.container {
max-width: 100%;
}

.user {
padding-left: 20px;
}

@media (min-width: 768px)
.main-col-md-3 {
-ms-flex: 0 0 25%;
flex: 0 0 20%;
max-width: 25%;
}

p {
margin-top: 10px;
margin-bottom: 10px;
}

.writer {
margin-right:50px;
}

.writing-time {
margin-left:50px;
margin-right:20px;
}

.main-voting {
margin-right:5px;
}

button.votings {
background-color : white;
border: none;
cursor : pointer;
}

.scroll {
margin:10px;
text-align: center;
}

button.scroll {
background-color : white;
border: none;
cursor : pointer;
}

.rewards {
margin:5px;
}

.information-popular-row {
    width: 780px;
    height: auto;
    background-color: #ffffff!important;
    border-width: 1px;
    box-shadow: 0px 0px 0px 2px #e6e6e6;
    display: inline-block;
}
.information-popular-row .popular-rows {
    padding: 20px 20px 20px 20px;
    background-color: white;
}
.information-popular-row .popular-rows .popular-rows-title {
    font-weight: 500;
    font-size: 16px;
    margin: 0 0 0 0;
    width: 630px;
    height: 30px;
    display: inline-block;
    padding: 10px;
}
.write-button {
    width: 90px;
    height: 30px;
    display: inline-block;
    float: right;
}
.popular-rows-title {
    font-weight: 500;
    font-size: 16px;
    margin: 0 0 10px 0;
}
.information-popular-row .popular-rows .popular-row {
    width: 740px;
    height: 120px;
    background-color: white;
}
.row-picture {
    display: inline-block;
    width: 99px;
    height: 75px;
    float: left;
}
.information-popular-row .popular-rows .popular-row ul:nth-child(1) {
    padding: 0;
    height: 30px;
    width: 740px;
    margin: 0 0 5px 0;
}
.information-popular-row .popular-rows .popular-row ul:nth-child(1) li {
    list-style: none;
    display: inline-block;
    padding: 0;
    text-align: center;
}
.information-popular-row .popular-rows .popular-row ul:nth-child(1) li:nth-child(1) img{
    width: 30px;
    height: 30px;
    border-radius: 25px;
}
.information-popular-row .popular-rows .popular-row ul:nth-child(1) li:nth-child(2) {
    font-size: 11px;
    font-weight: bold;
    color: black;
    margin: 0 10px 0 5px;
}
.information-popular-row .popular-rows .popular-row ul:nth-child(1) li:nth-child(3) {
    font-size: 8px;
    font-weight: bold;
    color: #666666;
    margin: 0 20px 0 5px;

}
.information-popular-row .popular-rows .popular-row ul:nth-child(1) li:nth-child(4) {
    font-size: 13px;
    font-weight: bold;
    color: white;
    width: 100px;
    border-radius: 25px;
    display: inline-block;
    height: 22px;
    padding: 2px;
    background-color: red;

}
.information-popular-row .popular-rows .popular-row ul:nth-child(3) {
    padding: 0;
    width: 630px;
    height: 50px;
    display: inline-block;
    margin: 0 0px 0 10px;
}
.information-popular-row .popular-rows .popular-row ul:nth-child(3) li:nth-child(1) {
    list-style: none;
    width: 630px;
    height: 20px;
    margin: 0 0 5px 0;
}
.information-popular-row .popular-rows .popular-row ul:nth-child(3) li:nth-child(1) a {
    color: black;
    font-size: 13.3px;
    font-weight: 500;
}

.information-popular-row .popular-rows .popular-row ul:nth-child(3) li:nth-child(2) a {
    color: black;
    font-size: 13px;
    font-weight: 400;
}
.information-popular-row .popular-rows .popular-row ul:nth-child(1) li {
    list-style: none;
    display: inline;
    padding: 0;
}

.information-popular-row .popular-rows .popular-row ul:nth-child(4) {
    list-style: none;
    height: 20px;
    width: 630px;
    display: inline-block;
    margin: 0 0px 0 10px;
    padding: 0;
}
.information-popular-row .popular-rows .popular-row ul:nth-child(4) li{
    list-style: none;
    display: inline-block;
    margin: 0 20px 0 0;
    font-size: 10.8px;
    font-weight: 400;
}

.information-popular-row .popular-rows .popular-row .row-bottom img {
    width: 15px;
    height: 15px;
}

.thumbnail {
    border-radius: 3px;
    border: solid;
    border-width: 1px;
    border-color: #cecccc;
}
