
.admin-container {
    margin: 100px;

}
.unid_users {


}
.unid_users .context li {
    display: inline-block;
    width: auto;
}
.admin-context {
    display: none;
}
.speadButton {
    cursor: pointer;

}

a {
    color: black;
}